﻿<html lang="en">
<body>
    <table cellspacing="0" border="0" align="center" cellpadding="0" width="500">
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; border: 1px solid #E8e8e8; padding: 10px; font-size: 12px; color: #666666;" colspan="2">
                <p>The following information has been submitted via the <strong><% WebsiteName %></strong> website <strong><% WebsitePage %></strong> page:</p>
                <p><strong>First name:</strong> <% formFirstName %></p>
                <p><strong>Last name:</strong> <% formLastName %></p>
                <p><strong>Email:</strong> <% formEmail %></p>
                <p><strong>Telephone:</strong> <% formPhone %></p>
                <p><strong>Job Title:</strong> <% formJobTitle %></p>
                <p><strong>Message:</strong></p>
                <p><% formMessage %></p>                
                <p><strong>Newsletter Signup:</strong></p>
                <p><input type="checkbox" name="NewsletterSignup" value="<% formNewsletterSignup %>" checked disabled>  I would like to be added to the RWA Group mailing lists.</p>                
            </td>
        </tr>
    </table>
</body>
</html>

