﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USNStarterKit.USNBusinessLogic;
@using USN.Heading.Umbraco.Models;
@using USNStarterKit.USNBlog;
@using USN.UrlPicker.Umbraco.Models;
@using Newtonsoft.Json.Linq;
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;

@{
    string backgroundStyle = "c5-bg";
    string headingStyle = "c3-text";
    string textStyle = "";
    USNTemplateStyleSettings pageSettings = USNViewTemplateHelper.GetTemplateStyleSettings(Model.Content.GetPropertyValue("backgroundColor").ToString(), Model.Content.GetPropertyValue("buttonColor").ToString());

    string animateClass = String.Empty;

    if (Model.Content.GetPropertyValue<bool>("animate"))
    {
        animateClass = "os-animation";
    }

    string backgroundImage = String.Empty;

    if (Model.Content.HasValue("backgroundImage") && Umbraco.TypedMedia(Model.Content.GetProperty("backgroundImage").Value) != null)
    {
        backgroundImage = String.Format("background-image:url('{0}');", Umbraco.TypedMedia(Model.Content.GetProperty("backgroundImage").Value).Url);
    }

    if (backgroundImage != String.Empty && Model.Content.HasValue("backgroundImageOptions") && Model.Content.GetProperty("backgroundImageOptions").Value.ToString() == "Repeat")
    {
        backgroundImage = backgroundImage + "background-repeat:repeat;";
    }
    else if (backgroundImage != String.Empty)
    {
        backgroundImage = backgroundImage + "background-size:cover;";
    }

    if (backgroundImage != String.Empty)
    {
        backgroundImage = String.Format(" style=\"{0}\"", backgroundImage);
    }

    <section class="content apc featured-content @pageSettings.BackGroundStyle" @Html.Raw(backgroundImage) id="pos_@Model.Content.Id">
        <div class="container">


            @if (Model.Content.HasValue("introductionHeading") || Model.Content.HasValue("introductionText"))
            {
                <!-- ROW - OVERVIEW -->
                <div class="row overview @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <div class="col-md-8 col-xs-12">
                        @if (Model.Content.HasValue("introductionHeading"))
                        {
                            var heading = Model.Content.GetPropertyValue<USNHeading>("introductionHeading");

                            if (heading != null && !String.IsNullOrEmpty(heading.Heading))
                            {
                                @Html.Raw("<" + heading.HeadingStyle + " class=\"heading main " + pageSettings.HeadingStyle + "\"><span class=\"line\">" + heading.Heading + "</span></" + heading.HeadingStyle + ">")
                            }
                        }
                        @if (Model.Content.HasValue("introductionText"))
                        {
                            <div class="text @pageSettings.TextStyle">
                                @Html.Raw(Model.Content.GetProperty("introductionText").Value)
                            </div>
                        }
                    </div>
                </div>
                <!--// ROW - OVERVIEW -->
            }
            
            @{
                string featuredPosts = String.Empty;

                if (Model.Content.HasValue("posts"))
                {
                    featuredPosts = Model.Content.GetProperty("posts").Value.ToString();
                }

                <!-- ROW -->
                <div class="row">

                    <!-- LISTING -->
                    <div class="listing blog">

                        <!-- SLIDES -->
                        <div class="slides">                            

                            @foreach (var post in Umbraco.TypedContent(featuredPosts.Split(',')))
                            {
                                <!-- ITEM -->
                                <div class="item @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0s" itemscope itemtype="http://schema.org/BlogPosting">
                                    <div class="inner c5-bg">
                                        @Html.Partial("USNBlog/USN_BlogListItem", post)                                        
                                    </div>
                                </div>
                                <!--// ITEM -->
                            }

                        </div>
                        <!-- SLIDES -->

                    </div>
                    <!--// LISTING -->

                </div>
                <!--// ROW -->
            }

            @{
                var outroLinks = Model.Content.GetPropertyValue<JArray>("outroLinks");

                if (Model.Content.HasValue("outroText") || (outroLinks != null && Model.Content.GetPropertyValue<string>("outroLinks", true, "").Length > 2))
                {
						<!-- ROW - OUTRO -->
                    <div class="row outro @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <div class="col-md-8 col-xs-12">
                            @if (Model.Content.HasValue("outroText"))
                            {
                                <div class="text @pageSettings.TextStyle">
                                    @Html.Raw(Model.Content.GetProperty("outroText").Value)
                                </div>
                            }

                            @if (outroLinks != null && Model.Content.GetPropertyValue<string>("outroLinks", true, "").Length > 2)
                            {
                                <p class="link">
                                    @foreach (JObject link in outroLinks)
                                    {
                                        string linkTitle = String.Empty;
                                        string linkURL = String.Empty;
                                        string linkTarget = String.Empty;
                                        string linkIcon = String.Empty;
                                        IPublishedContent node = null;

                                        linkURL = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                                        <a role="button" class="btn btn-borders @pageSettings.ButtonStyle" href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>@Html.Raw(link.Value<string>("caption"))@Html.Raw(linkIcon)</a>
                                    }
                                </p>
                            }

                        </div>
                    </div>
						<!--// ROW - OUTRO -->
                }
            }

        </div>
    </section>
}
