﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.UrlPicker.Umbraco.Models;
@using USN.Heading.Umbraco.Models;
@using Newtonsoft.Json.Linq;
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;
@{
    int totalCount = Model.Content.Children.Where(x => x.IsDocumentType("USN_AC_Pod")).Count();
    USNTemplateStyleSettings pageSettings = USNViewTemplateHelper.GetTemplateStyleSettings(Model.Content.GetPropertyValue("backgroundColor").ToString(), Model.Content.GetPropertyValue("buttonColor").ToString());

    if (totalCount > 0)
    {
        string animateClass = "";

        if (Model.Content.GetPropertyValue<bool>("animate"))
        {
            animateClass = "os-animation";
        }

        string backgroundImage = String.Empty;

        if (Model.Content.HasValue("backgroundImage") && Umbraco.TypedMedia(Model.Content.GetProperty("backgroundImage").Value) != null)
        {
            backgroundImage = String.Format("background-image:url('{0}');", Umbraco.TypedMedia(Model.Content.GetProperty("backgroundImage").Value).Url);
        }

        if (backgroundImage != String.Empty && Model.Content.HasValue("backgroundImageOptions") && Model.Content.GetProperty("backgroundImageOptions").Value.ToString() == "Repeat")
        {
            backgroundImage = backgroundImage + "background-repeat:repeat;";
        }
        else if (backgroundImage != String.Empty)
        {
            backgroundImage = backgroundImage + "background-size:cover;";
        }

        if (backgroundImage != String.Empty)
        {
            backgroundImage = String.Format(" style=\"{0}\"", backgroundImage);
        }

        <section class="content apc promo-pods @pageSettings.BackGroundStyle" @Html.Raw(backgroundImage) id="pos_@Model.Content.Id">
            <div class="container">

                @if (Model.Content.HasValue("introductionHeading") || Model.Content.HasValue("introductionText"))
                {
                <!-- ROW - OVERVIEW -->
                    <div class="row overview @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <div class="col-md-8 col-xs-12">
	                        @if (Model.Content.HasValue("introductionHeading"))
	                        {
	                            var heading = Model.Content.GetPropertyValue<USNHeading>("introductionHeading");

	                            if (heading != null && !String.IsNullOrEmpty(heading.Heading))
	                            {
	                                @Html.Raw("<" + heading.HeadingStyle + " class=\"heading main " + pageSettings.HeadingStyle + "\"><span class=\"line\">" + heading.Heading + "</span></" + heading.HeadingStyle + ">")
	                            }
	                        }
                            @if (Model.Content.HasValue("introductionText"))
                            {
                                <div class="text @pageSettings.TextStyle">
                                    @Html.Raw(Model.Content.GetProperty("introductionText").Value)
                                </div>
                            }
                        </div>
                    </div>
                <!--// ROW - OVERVIEW -->
                }

                <div class="row">
                    @foreach (var pod in Model.Content.Children.Where(x => x.IsDocumentType("USN_AC_Pod")))
                    {
                        LinkInfo podLink = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromUrlPicker(pod.GetPropertyValue<UrlPicker>("podLink"));                        

                        <div class="item col-md-4 col-sm-6 col-xs-12 @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            <div class="inner c5-bg">	
                                @if (podLink != null)
                                {
                                    @Html.Raw("<a href=\"" + podLink.LinkURL + "\" " + podLink.LinkTitle + " " + podLink.LinkTarget + ">")
                                }

                                @if (pod.HasValue("podImage") && Umbraco.TypedMedia(pod.GetProperty("podImage").Value) != null)
                                {
                                    <div class="image">
                                        <img src="@Umbraco.TypedMedia(pod.GetProperty("podImage").Value).GetCropUrl(width: 400, height: 300)" alt="@pod.GetProperty("podImageAltText").Value">
                                    </div>
                                }
                                
                                @if (podLink != null)
                                {
                                    @Html.Raw("</a>")
                                }

                                @if (podLink != null)
                                {
                                    @Html.Raw("<a href=\"" + podLink.LinkURL + "\" " + podLink.LinkTitle + " " + podLink.LinkTarget + ">")
                                }

                                @if (pod.HasValue("podTitle"))
                                {
                                    <p class="heading c3-text">@pod.GetProperty("podTitle").Value</p>
                                }

                                @if (podLink != null)
                                {
                                    @Html.Raw("</a>")
                                }

                                @if (pod.HasValue("podText"))
                                {
                                    <div class="text">@Html.Raw(pod.GetProperty("podText").Value.ToString())</div>
                                }
                                @if (podLink != null)
                                {
                                    <p class="link"><a role="button" class="btn btn-sm btn-borders c1-borders c1-text std-btn" href="@podLink.LinkURL" @Html.Raw(podLink.LinkTarget) @Html.Raw(podLink.LinkTitle)>@podLink.LinkCaption@Html.Raw(podLink.LinkIcon)</a></p>
                                }
                            </div>
                        </div>
                    }
                </div>

                @{
                    var outroLinks = Model.Content.GetPropertyValue<JArray>("outroLinks");

                    if (Model.Content.HasValue("outroText") || (outroLinks != null && Model.Content.GetPropertyValue<string>("outroLinks", true, "").Length > 2))
                    {
						<!-- ROW - OUTRO -->
                        <div class="row outro @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="col-md-8 col-xs-12">
                                @if (Model.Content.HasValue("outroText"))
                                {
                                    <div class="text @pageSettings.TextStyle">
                                        @Html.Raw(Model.Content.GetProperty("outroText").Value)
                                    </div>
                                }

                                @if (outroLinks != null && Model.Content.GetPropertyValue<string>("outroLinks", true, "").Length > 2)
                                {
                                    <p class="link">
                                        @foreach (JObject link in outroLinks)
                                        {
                                            string linkTitle = String.Empty;
                                            string linkURL = String.Empty;
                                            string linkTarget = String.Empty;
                                            string linkIcon = String.Empty;
                                            IPublishedContent node = null;

                                            linkURL = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                                            <a role="button" class="btn btn-borders @pageSettings.ButtonStyle" href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>@Html.Raw(link.Value<string>("caption"))@Html.Raw(linkIcon)</a>
                                        }
                                    </p>
                                }

                            </div>
                        </div>
						<!--// ROW - OUTRO -->
                    }
                }
            </div>
        </section>
    }
}
