﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.UrlPicker.Umbraco.Models;
@using USN.Heading.Umbraco.Models;
@using Newtonsoft.Json.Linq;
@using USNStarterKit.USNBlog;
@using USNStarterKit.USNBusinessLogic;
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;

@{

    var count = 1;
    var panelPad = "pod-panel-1";
    var podCorrect = "section-correct pod-correct";

    var rawCurrentNodeID = UmbracoContext.Current.PageId;
    var newCurrentNodeID = Umbraco.TypedContent(rawCurrentNodeID);
    var CurrentNodeID = rawCurrentNodeID ?? default(int);
    IPublishedContent CurrentPage = Umbraco.TypedContent(CurrentNodeID);

    if (CurrentPage.DocumentTypeAlias == "USNHomepage")
    {
        podCorrect = "home-pod-correct";
    }


    int pagesDisplayCount = 0;

    if (Model.Content.HasValue("pagesToDisplay"))
    {
        pagesDisplayCount = Convert.ToInt32(Model.Content.GetProperty("pagesToDisplay").Value);
    }

    string animateClass = "";

    if (Model.Content.GetPropertyValue<bool>("animate"))
    {
        animateClass = "os-animation";
    }

    //string textStyle = "";

    USNTemplateStyleSettings pageSettings = USNViewTemplateHelper.GetTemplateStyleSettings(Model.Content.GetPropertyValue("backgroundColor").ToString(), Model.Content.GetPropertyValue("buttonColor").ToString());

    string backgroundImage = String.Empty;

    if (Model.Content.HasValue("backgroundImage") && Umbraco.TypedMedia(Model.Content.GetProperty("backgroundImage").Value) != null)
    {
        backgroundImage = String.Format("background-image:url('{0}');", Umbraco.TypedMedia(Model.Content.GetProperty("backgroundImage").Value).Url);
    }

    if (backgroundImage != String.Empty && Model.Content.HasValue("backgroundImageOptions") && Model.Content.GetProperty("backgroundImageOptions").Value.ToString() == "Repeat")
    {
        backgroundImage = backgroundImage + "background-repeat:repeat;";
    }
    else if (backgroundImage != String.Empty)
    {
        backgroundImage = backgroundImage + "background-size:cover;";
    }

    if (backgroundImage != String.Empty)
    {
        backgroundImage = String.Format(" style=\"{0}\"", backgroundImage);
    }


    var linkToListings = Model.Content.GetPropertyValue<JArray>("linkToListings");

    <section class="content apc tabbed tabbed-listing @pageSettings.BackGroundStyle" @Html.Raw(backgroundImage) @podCorrect id="pos_@Model.Content.Id">
        @*<div class="container">*@

        @if (Model.Content.HasValue("introductionHeading") || Model.Content.HasValue("introductionText"))
            {
            <!-- ROW - OVERVIEW -->
            <div class="row @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0s" style="max-width:100%;">
                <div class="col-md-8 col-xs-12">

                    <div class="row overview @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <div class="col-md-offset-1 col-md-8 col-xs-offset-1 col-xs-11">

                            @if (Model.Content.HasValue("introductionHeading"))
                            {
                                var heading = Model.Content.GetPropertyValue<USNHeading>("introductionHeading");
                                <h2 class="heading @pageSettings.HeadingStyle @pageSettings.BackGroundStyle home_pods_txt">
                                    @heading.Heading
                                </h2>
                            }
                            @if (Model.Content.HasValue("introductionText"))
                            {
                                <div class="text @pageSettings.TextStyle">
                                    @Model.Content.GetPropertyValue("introductionText");
                                </div>
                            }

                        </div>
                    </div>

                </div>
            </div>
            <!--// ROW - OVERVIEW -->
        }

        @if (pagesDisplayCount != 0 && (linkToListings != null && Model.Content.GetPropertyValue<string>("linkToListings", true, "").Length > 2))
            {
                int listPage = 1;

                if (linkToListings.Count > 1)
                {
                    <!-- ROW -->
                <div class="row margin-bottom">

                    <nav class="tabs col-xs-12">
                        <ul class="nav nav-tabs" role="tablist">
                            @foreach (JObject link in linkToListings)
                            {
                                string linkTitle = String.Empty;
                                string linkURL = String.Empty;
                                string linkTarget = String.Empty;
                                string linkIcon = String.Empty;
                                IPublishedContent node = null;

                                linkURL = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);


                                if (node != null && (node.IsDocumentType("USNStandardPage") || node.IsDocumentType("USNAdvancedPage") || node.IsDocumentType("USNBlogLandingPage")))
                                {
                                    <li role="presentation" @if (listPage == 1) { @Html.Raw("class=\"active\"")    }>
                                        <a href="#tab-name-@Model.Content.Id-@listPage" aria-controls="tab-name-@Model.Content.Id-@listPage" role="tab" data-toggle="tab">
                                            @(link.Value<string>("caption"))
                                        </a>
                                    </li>

                                    listPage += 1;
                                }


                            }
                        </ul>
                    </nav>

                </div>
	                <!--// ROW -->
                }

                listPage = 1;

            <div @*class="row"*@ style="max-width:100%;">
                <!-- TABBED CONTENT -->
                <div class="tab-content">
                    @foreach (JObject link in linkToListings)
                    {


                        <div id="tab-name-@Model.Content.Id-@listPage" role="tabpanel" class="tab-pane @if(listPage == 1){@Html.Raw("active")}">

                            @{
                                string linkTitle = String.Empty;
                                string linkURL = String.Empty;
                                string linkTarget = String.Empty;
                                string linkIcon = String.Empty;
                                IPublishedContent node = null;

                                linkURL = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                                //NON-BLOG PAGES
                                if (node != null && (node.IsDocumentType("USNStandardPage") || node.IsDocumentType("USNAdvancedPage")))
                                {
                                    <div class="listing grid">

                                        @foreach (var subPage in node.Children.Where(x => x.IsDocumentType("USNStandardPage") || x.IsDocumentType("USNAdvancedPage")).OrderBy("SortOrder").Take(pagesDisplayCount))
                                        {
                                            USNTemplateStyleSettings subPageSettings = USNViewTemplateHelper.GetTemplateStyleSettings(subPage.GetPropertyValue("headerBackgroundColor").ToString(), subPage.GetPropertyValue("buttonColor").ToString());

                                            <!-- ITEM -->
                                            <div class="item col-md-4 col-sm-6 col-xs-12 @subPageSettings.BackGroundStyle @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                                <div class="inner c5-bg">
                                                    @if (subPage.HasValue("pageListingImage") && Umbraco.TypedMedia(subPage.GetProperty("pageListingImage").Value) != null)
                                                    {
                                                        <a href="@subPage.Url">
                                                            <div class="image">
                                                                <img src="@Umbraco.TypedMedia(subPage.GetProperty("pageListingImage").Value).GetCropUrl(width: 800, height: 600)" alt="@subPage.GetProperty("pageListingImageAltText").Value">
                                                            </div>
                                                        </a>
                                                    }
                                                    <a href="@subPage.Url">
                                                        <p class="heading @subPageSettings.TextStyle">

                                                            @if (subPage.HasValue("subPageListingLinkText"))
                                                            {
                                                                @subPage.GetProperty("subPageListingLinkText").Value.ToString()
                                                            }
                                                            else
                                                            {
                                                                @subPage.Name
                                                            }

                                                        </p>

                                                    </a>
                                                </div>
                                            </div>
                                            <!--// ITEM -->
                                        }
                                    </div>

                                }
                                //BLOG ITEMS
                                else if (node != null && node.IsDocumentType("USNBlogLandingPage"))
                                {
                                    IEnumerable<IPublishedContent> posts = USNStarterKit.USNBlog.USNPostService.Instance.GetPosts(node);
                                    var nodes = posts.Take(pagesDisplayCount).ToList();

                                    @*<div class="listing blog">*@                            

                            foreach (var post in nodes)
                            {

                                USNTemplateStyleSettings postSettings = USNViewTemplateHelper.GetTemplateStyleSettings(post.GetPropertyValue("headerBackgroundColor").ToString(), post.GetPropertyValue("headerButtonColor").ToString());
                                
                                            <!-- ITEM -->                                           
                                                <div class="item col-md-4 col-sm-4 col-xs-12  box panel-scale @panelPad animated pod-panel-scale fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0s" itemscope itemtype="http://schema.org/BlogPosting">
                                                    @Html.Partial("USNBlog/USN_BlogListItem", post)
                                                </div>                                          
					                        <!--// ITEM -->                       
                                            count++;


                                            if (count == 2)
                                            {
                                                panelPad = "pod-panel-2";
                                            }
                                            if (count == 3)
                                            {
                                                panelPad = "pod-panel-3";
                                                count = 1;
                                            }
                                        
                                        }

                                    @*</div>*@
                                }
                            
                            }

                        </div>

                                    listPage += 1;
                                }
                </div>
                <!--// TABBED CONTENT -->
            </div>
                                }

        @{
            var outroLinks = Model.Content.GetPropertyValue<JArray>("outroLinks");

            if (Model.Content.HasValue("outroText") || (outroLinks != null && Model.Content.GetPropertyValue<string>("outroLinks", true, "").Length > 2))
            {
					<!-- ROW - OUTRO -->
                <div class="row outro @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                    <div class="col-md-8 col-xs-12">
                        @if (Model.Content.HasValue("outroText"))
                        {
                            <div class="text @pageSettings.TextStyle">
                                @Html.Raw(Model.Content.GetProperty("outroText").Value)
                            </div>
                        }

                        @if (outroLinks != null && Model.Content.GetPropertyValue<string>("outroLinks", true, "").Length > 2)
                        {
                            <p class="link">
                                @foreach (JObject link in outroLinks)
                                {
                                    string linkTitle = String.Empty;
                                    string linkURL = String.Empty;
                                    string linkTarget = String.Empty;
                                    string linkIcon = String.Empty;
                                    IPublishedContent node = null;

                                    linkURL = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                                    @*<a role="button" class="btn btn-borders @buttonStyle" href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>@Html.Raw(link.Value<string>("caption"))@Html.Raw(linkIcon)</a>*@
                                    <a role="button" class="btn btn-borders @pageSettings.ButtonStyle" href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>@Html.Raw(link.Value<string>("caption"))@Html.Raw(linkIcon)</a>
                                }
                            </p>
                        }

                    </div>
                </div>
					<!--// ROW - OUTRO -->
            }
        }
        @*</div>*@
    </section>

}
