﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.UrlPicker.Umbraco.Models;
@using USN.Heading.Umbraco.Models;
@using Newtonsoft.Json.Linq;
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;
@{
    int totalCount = Model.Content.Children.Where(x => x.IsDocumentType("USN_AC_Thumbnail")).Count();
    USNTemplateStyleSettings pageSettings = USNViewTemplateHelper.GetTemplateStyleSettings(Model.Content.GetPropertyValue("backgroundColor").ToString(), Model.Content.GetPropertyValue("buttonColor").ToString());
    if (totalCount > 0)
    {


        string animateClass = "";

        if (Model.Content.GetPropertyValue<bool>("animate"))
        {
            animateClass = "os-animation";
        }
        string backgroundImage = String.Empty;

        if (Model.Content.HasValue("backgroundImage") && Umbraco.TypedMedia(Model.Content.GetProperty("backgroundImage").Value) != null)
        {
            backgroundImage = String.Format("background-image:url('{0}');", Umbraco.TypedMedia(Model.Content.GetProperty("backgroundImage").Value).Url);
        }

        if (backgroundImage != String.Empty && Model.Content.HasValue("backgroundImageOptions") && Model.Content.GetProperty("backgroundImageOptions").Value.ToString() == "Repeat")
        {
            backgroundImage = backgroundImage + "background-repeat:repeat;";
        }
        else if (backgroundImage != String.Empty)
        {
            backgroundImage = backgroundImage + "background-size:cover;";
        }

        if (backgroundImage != String.Empty)
        {
            backgroundImage = String.Format(" style=\"{0}\"", backgroundImage);
        }

        <section class="content apc image-carousel @pageSettings.BackGroundStyle" @Html.Raw(backgroundImage) id="pos_@Model.Content.Id">
            <div class="container">

                @if (Model.Content.HasValue("introductionHeading") || Model.Content.HasValue("introductionText"))
                {
					<!-- ROW - OVERVIEW -->
                    <div class="row overview @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <div class="col-md-8 col-xs-12">
                            @if (Model.Content.HasValue("introductionHeading"))
                            {
                                var heading = Model.Content.GetPropertyValue<USNHeading>("introductionHeading");

                                if (heading != null && !String.IsNullOrEmpty(heading.Heading))
                                {
                                    @Html.Raw("<" + heading.HeadingStyle + " class=\"heading main " + pageSettings.HeadingStyle + "\"><span class=\"line\">" + heading.Heading + "</span></" + heading.HeadingStyle + ">")
                                }
                            }
                            @if (Model.Content.HasValue("introductionText"))
                            {
                                <div class="text @pageSettings.TextStyle">
                                    @Html.Raw(Model.Content.GetProperty("introductionText").Value)
                                </div>
                            }
                        </div>
                    </div>
                }


                <div class="slides">
                    @foreach (var thumbnail in Model.Content.Children.Where(x => x.IsDocumentType("USN_AC_Thumbnail")))
                    {
                        if (thumbnail.HasValue("thumbnailImage") && Umbraco.TypedMedia(thumbnail.GetProperty("thumbnailImage").Value) != null)
                        {
                            LinkInfo link = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromUrlPicker(thumbnail.GetPropertyValue<UrlPicker>("thumbnailLink"));

                            <div class="item">
                                <div class="image">
                                    @if (link != null)
                                    {
                                        @Html.Raw("<a href=\"" + link.LinkURL + "\" " + link.LinkTitle + " " + link.LinkTarget + "\">")
                                    }
                                    <img src="@Umbraco.TypedMedia(thumbnail.GetProperty("thumbnailImage").Value).GetCropUrl(width: 400, height: 300)" alt="@thumbnail.GetProperty("thumbnailImageAltText").Value">
                                    @if (link != null)
                                    {
                                        if (link.LinkIcon == String.Empty)
                                        {
                                            <div class="overlayicon ion-link"></div>
                                        }
                                        else
                                        {
                                            <div class="overlayicon ion-android-open after"></div>
                                        }
                                        @Html.Raw("</a>")
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
                @{
                            var outroLinks = Model.Content.GetPropertyValue<JArray>("outroLinks");

                            if (Model.Content.HasValue("outroText") || (outroLinks != null && Model.Content.GetPropertyValue<string>("outroLinks", true, "").Length > 2))
                            {
						<!-- ROW - OUTRO -->
                                <div class="row outro @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                    <div class="col-md-8 col-sm-10 col-xs-12">
                                        @if (Model.Content.HasValue("outroText"))
                                        {
                                            <div class="text @pageSettings.TextStyle">
                                                @Html.Raw(Model.Content.GetProperty("outroText").Value)
                                            </div>
                                        }

                                        @if (outroLinks != null && Model.Content.GetPropertyValue<string>("outroLinks", true, "").Length > 2)
                                        {
                                            <p class="link">
                                                @foreach (JObject link in outroLinks)
                                                {
                                                    string linkTitle = String.Empty;
                                                    string linkURL = String.Empty;
                                                    string linkTarget = String.Empty;
                                                    string linkIcon = String.Empty;
                                                    IPublishedContent node = null;

                                                    linkURL = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                                                    <a role="button" class="btn btn-borders @pageSettings.ButtonStyle" href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>@Html.Raw(link.Value<string>("caption"))@Html.Raw(linkIcon)</a>
                                                }
                                            </p>
                                        }

                                    </div>
                                </div>
						<!--// ROW - OUTRO -->
                    }
                }

            </div>
        </section>
    }
}


