﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using USNStarterKit.USNBusinessLogic;
@using USN.UrlPicker.Umbraco.Models;
@using USN.Heading.Umbraco.Models;
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;

@{
    string firstDivClass = "col-md-6 col-xs-12 pull-right";
    string secondDivClass = "col-md-5 col-xs-12 pull-left";

    string animateClass = String.Empty;
    string imageFadeInDirection = "fadeInRight";

    if (Model.Content.GetPropertyValue<bool>("animate"))
    {
        animateClass = "os-animation";
    }

    bool addSpacing = false;
    string wideClass = "wide";

    if (Model.Content.GetPropertyValue<bool>("addSpacingAroundImage"))
    {
        addSpacing = true;
        wideClass = String.Empty;
    }

    USNTemplateStyleSettings pageSettings = USNViewTemplateHelper.GetTemplateStyleSettings(Model.Content.GetPropertyValue("backgroundColor").ToString(), Model.Content.GetPropertyValue("buttonColor").ToString());

    if (Model.Content.HasValue("textSectionPosition") && Model.Content.GetProperty("textSectionPosition").Value.ToString() == "Right")
    {
        firstDivClass = "col-md-6 col-xs-12 pull-left";
        secondDivClass = "col-md-5 col-xs-12 pull-right";
        imageFadeInDirection = "fadeInLeft";
    }

    string image = "";
    string videoURLModified = "";
    string dataRemote = "";
    string title = "";

    if (Model.Content.HasValue("video"))
    {
        string videoURLOriginal = Model.Content.GetProperty("video").Value.ToString().Trim();

        if (Model.Content.HasValue("lightwindowText"))
        {
            title = "data-title=\"" + Model.Content.GetProperty("lightwindowText").Value.ToString() + "\"";
        }

        image = USNVideoHelper.GetVideoInfo(videoURLOriginal, out videoURLModified, out dataRemote);
    }

    if (Model.Content.HasValue("image") && Umbraco.TypedMedia(Model.Content.GetProperty("image").Value) != null)
    {
        image = @Umbraco.TypedMedia(Model.Content.GetProperty("image").Value).GetCropUrl(width: 800, height: 600);
    }


    <section class="content apc text-with-image-or-video @wideClass @pageSettings.BackGroundStyle" id="pos_@Model.Content.Id">

        @if (addSpacing)
        {
            @Html.Raw("<div class=\"container\"><div class=\"row\">")
        }

        <div class="@firstDivClass @animateClass" data-os-animation="@imageFadeInDirection" data-os-animation-delay="0">
            @if (image != String.Empty)
            {
                <div class="image video">
                    @if (videoURLModified != String.Empty)
                    {
                        @Html.Raw(String.Format("<a href=\"{0}\" {1} data-toggle=\"lightbox\" {2}>", videoURLModified, title, dataRemote))
                    }

                    <img alt="@Model.Content.GetProperty("imageAltText").Value" src="@image">

                    @if (videoURLModified != String.Empty)
                    {
                        @Html.Raw("<div class=\"overlayicon ion-ios-play\"></div></a>")
                    }
                </div>
            }
        </div>

        @if (!addSpacing)
        {
            @Html.Raw("<div class=\"container\"><div class=\"row\">")
        }

        <div class="item @secondDivClass @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0">
            <!-- INFO -->
            <div class="info">

                @if (Model.Content.HasValue("heading"))
                {
                    var heading = Model.Content.GetPropertyValue<USNHeading>("heading");

                    if (heading != null && !String.IsNullOrEmpty(heading.Heading))
                    {
                        @Html.Raw("<" + heading.HeadingStyle + " class=\"heading main " + pageSettings.HeadingStyle + "\"><span class=\"line\">")
                        @heading.Heading
                        @Html.Raw("</span></" + heading.HeadingStyle + ">")
                    }
                }
                @if (Model.Content.HasValue("text"))
                {
                    <div class="text @pageSettings.TextStyle">
                        @Html.Raw(Model.Content.GetProperty("text").Value)
                    </div>
                }
                @{
                    LinkInfo link = USNUrlHelper.GetSingleUrlFromUrlPicker(Model.Content.GetPropertyValue<UrlPicker>("link"));

                    if (link != null)
                    {
                        <p class="link"><a class="btn btn-borders @pageSettings.ButtonStyle" href="@link.LinkURL" @Html.Raw(link.LinkTarget) @Html.Raw(link.LinkTitle)>@link.LinkCaption@Html.Raw(link.LinkIcon)</a></p>
                    }
                }

            </div>
            <!--// INFO -->
        </div>

        @Html.Raw("</div></div>")


    </section>

}