﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<USNStarterKit.USNModels.USNNewsletterFormViewModel>
@using USN.Heading.Umbraco.Models;
@using USN.UrlPicker.Umbraco.Models;
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;

@{
    var currentPage = Umbraco.TypedContent(Model.CurrentNodeID);
    USNTemplateStyleSettings pageSettings = USNViewTemplateHelper.GetTemplateStyleSettings(currentPage.GetPropertyValue("backgroundColor").ToString(), currentPage.GetPropertyValue("buttonColor").ToString());

    string firstDivClass = "col-md-6 col-xs-12 pull-left";
    string secondDivClass = "col-md-5 col-xs-12 pull-right";
    string formFadeInDirection = "fadeInRight";
    string textFadeInDirection = "fadeInLeft";
    string animateClass = String.Empty;

    if (currentPage.HasValue("textSectionPosition") && currentPage.GetProperty("textSectionPosition").Value.ToString() == "Right")
    {
        firstDivClass = "col-md-6 col-xs-12 pull-right";
        secondDivClass = "col-md-5 col-xs-12 pull-left";
        formFadeInDirection = "fadeInLeft";
        textFadeInDirection = "fadeInRight";
    }

    if (currentPage.GetPropertyValue<bool>("animate"))
    {
        animateClass = "os-animation";
    }

    string backgroundImage = String.Empty;

    if (currentPage.HasValue("backgroundImage") && Umbraco.TypedMedia(currentPage.GetProperty("backgroundImage").Value) != null)
    {
        backgroundImage = String.Format("background-image:url('{0}');", Umbraco.TypedMedia(currentPage.GetProperty("backgroundImage").Value).Url);
    }

    if (backgroundImage != String.Empty && currentPage.HasValue("backgroundImageOptions") && currentPage.GetProperty("backgroundImageOptions").Value.ToString() == "Repeat")
    {
        backgroundImage = backgroundImage + "background-repeat:repeat;";
    }
    else if (backgroundImage != String.Empty)
    {
        backgroundImage = backgroundImage + "background-size:cover;";
    }

    if (backgroundImage != String.Empty)
    {
        backgroundImage = String.Format(" style=\"{0}\"", backgroundImage);
    }

    <section class="content apc text-with-form no-padding @pageSettings.BackGroundStyle" @Html.Raw(backgroundImage) id="pos_@currentPage.Id">
        <div class="container">

            <!-- ROW -->
            <div class="row">

                <div class="@firstDivClass @animateClass text-side" data-os-animation="@textFadeInDirection" data-os-animation-delay="0">
                    <!-- INFO -->
                    <div class="info">

                        @if (currentPage.HasValue("heading"))
                        {
                            var heading = currentPage.GetPropertyValue<USNHeading>("heading");

                            if (heading != null && !String.IsNullOrEmpty(heading.Heading))
                            {
                                @Html.Raw("<" + heading.HeadingStyle + " class=\"heading main " + pageSettings.HeadingStyle + "\"><span class=\"line\">")
                                @heading.Heading
                                @Html.Raw("</span></" + heading.HeadingStyle + ">")
                            }
                        }
                        @if (currentPage.HasValue("text"))
                        {
                            <div class="text @pageSettings.TextStyle">
                                @Html.Raw(currentPage.GetProperty("text").Value)
                            </div>
                        }
                        @{
                            LinkInfo link = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromUrlPicker(currentPage.GetPropertyValue<UrlPicker>("link"));

                            if (link != null)
                            {
                                <p class="link"><a class="btn btn-borders @pageSettings.ButtonStyle" href="@link.LinkURL" @Html.Raw(link.LinkTarget) @Html.Raw(link.LinkTitle)>@link.LinkCaption@Html.Raw(link.LinkIcon)</a></p>
                            }
                        }
                    </div>
                    <!--// INFO -->
                </div>

                <div class="@secondDivClass @animateClass form-side" data-os-animation="@formFadeInDirection" data-os-animation-delay="0">
                    <div class="c5-bg inner">
                        @Html.Partial("USNForms/USN_NewsletterSignup", @Model)
                    </div>
                </div>

            </div>
            <!--// ROW -->

        </div>
    </section>

}