﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.UrlPicker.Umbraco.Models;
@using USN.Heading.Umbraco.Models;
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;
@{
    string headingSource = String.Empty;
    string text = String.Empty;
    string animateClass = String.Empty;

    LinkInfo outroLink;

    outroLink = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromUrlPicker(Model.Content.GetPropertyValue<UrlPicker>("link"));

    if (Model.Content.HasValue("heading"))
    {
        var heading = Model.Content.GetPropertyValue<USNHeading>("heading");

        if (heading != null && !String.IsNullOrEmpty(heading.Heading))
        {
            headingSource = "<" + heading.HeadingStyle + " class=\"heading main {0} {1}\" data-os-animation=\"fadeInUp\" data-os-animation-delay=\"0.1s\"><span class=\"line\">" + heading.Heading + "</span></" + heading.HeadingStyle + ">";
        }
    }

    if (Model.Content.HasValue("text"))
    {
        text = Model.Content.GetProperty("text").Value.ToString();
    }

    if (Model.Content.GetPropertyValue<bool>("animate"))
    {
        animateClass = "os-animation";
    }

    USNTemplateStyleSettings ctaSettings = USNViewTemplateHelper.GetTemplateStyleSettings(Model.Content.GetPropertyValue("backgroundColor").ToString(), Model.Content.GetPropertyValue("buttonColor").ToString());
    string backgroundImage = String.Empty;

    if (Model.Content.HasValue("backgroundImage") && Umbraco.TypedMedia(Model.Content.GetProperty("backgroundImage").Value) != null)
    {
        backgroundImage = String.Format("background-image:url('{0}');", Umbraco.TypedMedia(Model.Content.GetProperty("backgroundImage").Value).Url);
    }

    if (backgroundImage != String.Empty && Model.Content.HasValue("backgroundImageOptions") && Model.Content.GetProperty("backgroundImageOptions").Value.ToString() == "Repeat")
    {
        backgroundImage = backgroundImage + "background-repeat:repeat;";
    }
    else if (backgroundImage != String.Empty)
    {
        backgroundImage = backgroundImage + "background-size:cover;";
    }

    if (backgroundImage != String.Empty)
    {
        backgroundImage = String.Format(" style=\"{0}\"", backgroundImage);
    }

    if (outroLink != null || text != String.Empty || headingSource != String.Empty)
    {
        <section class="content apc cta-strip @ctaSettings.BackGroundStyle" @Html.Raw(backgroundImage) id="pos_@Model.Content.Id">
            <div class="container">

                @if (headingSource != String.Empty)
                {
                    <!-- ROW -->
                    <div class="row short-margin-bottom">
                        <div class="col-md-8 col-xs-12">                           
                            @Html.Raw(String.Format(headingSource, ctaSettings.HeadingStyle, animateClass))
                        </div>
                    </div>
                    <!--// ROW -->
                }

                <!-- ROW -->
                <div class="row @animateClass" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
                    @if (text != String.Empty)
                    {
                        <div class="col-md-8 col-xs-12">
                            <div class="text @ctaSettings.TextStyle">
                                @Html.Raw(text)
                            </div>
                        </div>
                    }
                    @if (outroLink != null)
                    {
                        <div class="col-md-3 col-md-offset-1 col-xs-12">

                            <p class="link @animateClass"><a class="btn btn-block btn-borders @ctaSettings.ButtonStyle" href="@outroLink.LinkURL" @Html.Raw(outroLink.LinkTarget) @Html.Raw(outroLink.LinkTitle)>@outroLink.LinkCaption@Html.Raw(outroLink.LinkIcon)</a></p>

                        </div>
                    }

                </div>
                <!--// ROW -->

            </div>
        </section>
    }
}
