﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.UrlPicker.Umbraco.Models;
@using USN.Heading.Umbraco.Models;
@using USNStarterKit.USNModels;
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;
@using USN.BusinessLogic;


@{
    IPublishedContent homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.Where(x => x.IsDocumentType("USNGlobalSettings")).First();
    IPublishedContent navigation = settingsFolder.Children.Where(x => x.IsDocumentType("USNNavigation")).First();

    var categoryCount = 0;
    var catborder = "cat-panel-border";
    string image = "";
    string videoURLModified = "";
    string dataRemote = "";

    bool youTubeVideo = false;
    string videoLink = "";
    string videoInfo = "";
    string LinkNoRel = "";
    bool hasVideo = false;
    var videoAlign = "";
    //var slideHeight = "";
    string textAlignment = "text-left";
    var imageAlign = "";


    string imageFadeInDirection = "fadeInRight";

    int totalCount = Model.Content.Children.Where(x => x.IsDocumentType("USN_AC_Banner")).Count();
}

@if (totalCount > 0)
{
    <section class="content apc banner no-padding" id="pos_@Model.Content.Id">
        <div class="slides">
            @foreach (var banner in Model.Content.Children.Where(x => x.IsDocumentType("USN_AC_Banner")))
            {


                string videoURL = banner.GetProperty("videoUrl").Value.ToString().Trim();


                if (banner.HasValue("videoUrl"))
                {
                    string videoURLOriginal = banner.GetProperty("videoUrl").Value.ToString().Trim();
                    image = VideoHelper.GetVideoInfo(videoURLOriginal, out videoURLModified, out dataRemote);
                    hasVideo = true;

                }


                if (videoURL.Contains("www.youtube.com") || videoURL.Contains("youtu.be") || videoURL.Contains("vimeo"))
                {
                    videoLink = KumquatVideoHelper.GetVideoInfo(videoURL, videoURLModified, out videoInfo, out youTubeVideo);
                    LinkNoRel = videoLink + "?rel=0";
                }
                if (banner.HasValue("videoUrl"))
                {
                    //slideHeight = "video-sizing";
                    videoAlign = "video-align";
                }
                if (banner.HasValue("bannerImage") && Umbraco.TypedMedia(banner.GetProperty("bannerImage").Value) != null)
                {
                    image = @Umbraco.TypedMedia(banner.GetProperty("bannerImage").Value).GetCropUrl(width: 480, height: 320);
                }


                string parallaxClass = String.Empty;

                if (banner.GetPropertyValue<bool>("parallax"))
                {
                    parallaxClass = "parallax";
                }

                string animateClass = "";

                if (banner.GetPropertyValue<bool>("animate"))
                {
                    animateClass = "os-animation";
                }

                string bannerStyle = "medium";
                int imgWidth = 1100;
                int imgHeight = 450;

                if (banner.HasValue("bannerStyle"))
                {
                    switch (banner.GetProperty("bannerStyle").Value.ToString())
                    {
                        case "Short":
                            bannerStyle = "short";

                            if (parallaxClass != String.Empty)
                            { imgHeight = 500;
                                imgWidth = 1100;
                            }
                            else
                            {
                                imgWidth = 1100;
                                imgHeight = 400;
                            }

                            break;
                        case "Medium":
                            bannerStyle = "medium";

                            if (parallaxClass != String.Empty)
                            {
                                imgWidth = 1100;
                                imgHeight = 500;
                            }
                            else
                            {
                                imgWidth = 1100;
                                imgHeight = 450;
                            }

                            break;

                        case "Takeover":
                            bannerStyle = "takeover";
                            if (parallaxClass != String.Empty)
                            {
                                imgWidth = 1600;
                                imgHeight = 1100;
                            }
                            else
                            {
                                imgWidth = 1600;
                                imgHeight = 1100;
                            }                          

                            break;

                        default:
                            bannerStyle = "medium";

                            if (parallaxClass != String.Empty)
                            //{ imgHeight = 1000; }
                            //else
                            //{ imgHeight = 700; }
                            {
                                imgWidth = 1600;
                                imgHeight = 800;
                            }
                            else
                            {
                                imgWidth = 1100;
                                imgHeight = 450;
                            }

                            break;
                    }
                }

                string bgImage = String.Empty;

                if (!banner.HasValue("videoUrl"))
                {
                    if (banner.HasValue("bannerImage") && Umbraco.TypedMedia(banner.GetProperty("bannerImage").Value) != null)
                    {
                        //bgImage = "style=\"background-image:url('" + Umbraco.TypedMedia(banner.GetProperty("bannerImage").Value).GetCropUrl(width: 1600, height: imgHeight) + "')\"";
                        bgImage = "style=\"background-image:url('" + Umbraco.TypedMedia(banner.GetProperty("bannerImage").Value).GetCropUrl(width: imgWidth, height: imgHeight) + "')\"";

                    }
                    imageAlign = "image-align";
                }


                USNTemplateStyleSettings bannerSettings = USNViewTemplateHelper.GetTemplateStyleSettings(banner.GetPropertyValue("backgroundColor").ToString(), banner.GetPropertyValue("buttonColor").ToString());

                LinkInfo bannerLink = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromUrlPicker(banner.GetPropertyValue<UrlPicker>("bannerLink"));


                if (banner.HasValue("bannerHeading") || banner.HasValue("bannerText") || bannerLink != null)
                {


                    if (banner.HasValue("bannerTextAlignment"))
                    {
                        switch (banner.GetProperty("bannerTextAlignment").Value.ToString())
                        {
                            case "Left":
                                textAlignment = "col-md-8 col-sm-10 col-xs-12 text-left";
                                break;
                            case "Center":
                                textAlignment = "col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center";
                                break;
                            case "Right":
                                textAlignment = "col-md-8 col-md-offset-4 col-sm-10 col-sm-offset-2 col-xs-12 text-right";
                                break;
                            default:
                                textAlignment = "col-md-8 col-xs-12 text-left";
                                break;
                        }
                    }
                }



                <div class="@bannerSettings.BackGroundStyle">
                    <div class="item @bannerStyle @parallaxClass @bannerSettings.BackGroundStyle">

                        <div class="info">
                            <div class="row">

                                <div class="table">
                                    <div class="table-cell @videoAlign">

                                        @if (!banner.HasValue("videoUrl"))
                                        {
                                            <div class="col-md-8 col-sm-8 col-xs-12  outer-wrapper  video-wrapper sm-right @imageAlign" @Html.Raw(bgImage)>
                                                <div class="@textAlignment outer-wrapper">
                                                    <div class="half-wrapper">
                                                        <div class="vertical-centre">
                                                            <div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-xs-12 bnr-text">
                                                                <div class="@textAlignment @animateClass" data-os-animation="fadeInUp" data-os-animation-delay="0s">

                                                                    @if (banner.HasValue("bannerHeading"))
                        {
                            var bannerHeading = banner.GetPropertyValue<USNHeading>("bannerHeading");
                                                                        <h2 class="heading main @bannerSettings.HeadingStyle">
                                                                            @bannerHeading.Heading
                                                                        </h2>
                                                                    }

                                                                    @if (banner.HasValue("bannerText"))
                        {
                                                                        <div class="text @bannerSettings.TextStyle">
                                                                            @Html.Raw(banner.GetProperty("bannerText").Value)
                                                                        </div>
                                                                    }
                                                                    @if (bannerLink != null)
                        {
                                                                        <p class="link"><a class="btn btn-borders @bannerSettings.ButtonStyle" href="@bannerLink.LinkURL" @Html.Raw(bannerLink.LinkTarget) @Html.Raw(bannerLink.LinkTitle)>@bannerLink.LinkCaption@Html.Raw(bannerLink.LinkIcon)</a></p>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
            <!-- VIDEO -->
                                            <div class="col-md-8 col-sm-8 col-xs-12  video-container video-wrapper sm-right" @Html.Raw(bgImage)>

                                                <div class="vid-centre">
                                                    <div class="half-wrapper">
                                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                                            <div class="video outer-wrapper video-wrapper">

                                                                @if (image != String.Empty && videoURL == String.Empty)
                        {
                                                                    <div class="image video @animateClass" data-os-animation="@imageFadeInDirection" data-os-animation-delay="0">
                                                                        <img alt="@banner.GetProperty("imageAltText").Value" src="@image" class="text-image">
                                                                    </div>
                                                                }
                                                                else if (youTubeVideo == true)
                                                                {
                                                                    <div class="embed-responsive embed-responsive-16by9 vid-centre-lg">
                                                                        <iframe class="embed-responsive-item iframe-align" src="@videoLink" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="embed-responsive embed-responsive-16by9 vid-centre-lg">
                                                                        <iframe class="embed-responsive-item iframe-align" src="@videoLink" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                                                    </div>

                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
            <!--// VIDEO -->
                                        }


                                        <div class="col-md-4 col-sm-4 col-xs-12 outer-wrapper cat-container sm-left">
                                            @if (globalSettings.HasValue("searchResultsPage") && globalSettings.HasValue("examineSearchProviderName"))
                                            {
                                                <div class="col-xs-12 c3-bg cat-panel @catborder">
                                                    <div class="cat-wrapper  panel-vertical-centre">
                                                        <div class="site-search">
                                                            <fieldset>
                                                                <form role="search" action="@umbraco.library.NiceUrl(Convert.ToInt32(globalSettings.GetProperty("searchResultsPage").Value))" method="get" name="searchForm">
                                                                    <div class="form-group search-form-pos">
                                                                        <label class="control-label hidden" for="email">@umbraco.library.GetDictionaryItem("USN Search Form Placeholder")</label>
                                                                        <input type="text" class="form-control search-pos" id="search_field" name="search_field" placeholder='@umbraco.library.GetDictionaryItem("USN Search Form Placeholder")' value="@Request.QueryString["search_field"]">
                                                                        <button type="submit" class="c5-bg.bg-perc_80 c5-text search-btn"><i class="ion-ios-search-strong"></i></button>
                                                                    </div>

                                                                </form>
                                                            </fieldset>
                                                        </div>
                                                    </div>

                                                </div>

                                            }


                                            @if (navigation.HasValue("bannerLinks"))
                                            {
                                                var bannerLinksValue = navigation.GetPropertyValue<string>
                                                    ("bannerLinks");
                                                var categoryList = bannerLinksValue.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
                                                var categoryCollection = Umbraco.TypedContent(categoryList).Where(x => x != null);
                                                foreach (var category in categoryCollection)
                                                {
                                                    categoryCount++;
                                                    if (categoryCount == 6)
                                                    {
                                                        catborder = "";
                                                    }

                                                    var domain = Request.Url.GetLeftPart(UriPartial.Authority);
                                                    string categoryUrl = domain + "/blog/?category=" + category.Id.ToString();

                                                    USNTemplateStyleSettings categorySettings;

                                                    if (category.HasValue("panelColor"))
                                                    {
                                                        categorySettings = USNViewTemplateHelper.GetTemplateStyleSettings(category.GetPropertyValue("panelColor").ToString(), category.GetPropertyValue("panelColor").ToString(), category.GetPropertyValue("panelColor").ToString());
                                                    }

                                                    //If category doesn't have an assigned colour, we try and use the parent or descendant's value (if a colour is selected). If neither parent or child has a value, the default is used.
                                                    else if (category.Parent.DocumentTypeAlias == "USNBlogCategory" && category.Parent.HasValue("panelColor"))
                                                    {
                                                        categorySettings = USNViewTemplateHelper.GetTemplateStyleSettings(category.Parent.GetPropertyValue("panelColor").ToString(), category.Parent.GetPropertyValue("panelColor").ToString(), category.Parent.GetPropertyValue("panelColor").ToString());
                                                    }
                                                    else if (category.Descendant().HasValue("panelColor"))
                                                    {
                                                        categorySettings = USNViewTemplateHelper.GetTemplateStyleSettings(category.Descendant().GetPropertyValue("panelColor").ToString(), category.Descendant().GetPropertyValue("panelColor").ToString(), category.Descendant().GetPropertyValue("panelColor").ToString());
                                                    }
                                                    else
                                                    {
                                                        categorySettings = USNViewTemplateHelper.GetTemplateStyleSettings(category.GetPropertyValue("panelColor").ToString(), category.GetPropertyValue("panelColor").ToString(), category.GetPropertyValue("panelColor").ToString());
                                                    }

                                                    <a href="@Html.Raw(categoryUrl)">
                                                        <div class="col-xs-12 @categorySettings.BackGroundStyle cat-panel @catborder">


                                                            <div class="col-xs-9 panel-vertical-centre">
                                                                <div class=" @*panel-vertical-centre*@">
                                                                    <span>@category.Name</span>
                                                                </div>
                                                            </div>
                                                            <div class=" col-xs-3 cat-wrapper glyph-container panel-vertical-centre">
                                                                <span class="glyphicon glyphicon-play panel-glyphicon" aria-hidden="true"></span>
                                                            </div>


                                                        </div>
                                                    </a>

                                                }
                                            }



                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--// ROW -->
                        </div>

                        @if (banner.GetPropertyValue<bool>("scrollPrompt"))
                        {
                                <!-- SCROLL PROMPT -->
                            <div class="scroll-prompt text-center">
                                <a class="c5-text hidden-lg"><i class="ion-ios-arrow-down"></i></a>
                                <a class="c5-text hidden-md hidden-sm hidden-xs"><div class="mouse-scroll"></div><span>@umbraco.library.GetDictionaryItem("USN Banner Component Scroll Prompt")</span></a>
                            </div>
                                <!--// SCROLL PROMPT -->
                        }
                        @*}*@
                    </div>
                </div>
            }
        </div>
    </section>
}
    @*}*@

    @*@if (hasVideo)
    {
        <script src="~/Scripts/videoResize.js"></script>
    }*@


