﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;
@{

    USNTemplateStyleSettings pageSettings = USNViewTemplateHelper.GetTemplateStyleSettings(Model.Content.GetPropertyValue("backgroundColor").ToString(), Model.Content.GetPropertyValue("buttonColor").ToString());

    string animateClass = String.Empty;

    if (Model.Content.GetPropertyValue<bool>("animate"))
    {
        animateClass = "os-animation";
    }

    string backgroundImage = String.Empty;

    if (Model.Content.HasValue("backgroundImage") && Umbraco.TypedMedia(Model.Content.GetProperty("backgroundImage").Value) != null)
    {
        backgroundImage = String.Format("background-image:url('{0}');", Umbraco.TypedMedia(Model.Content.GetProperty("backgroundImage").Value).Url);
    }

    if (backgroundImage != String.Empty && Model.Content.HasValue("backgroundImageOptions") && Model.Content.GetProperty("backgroundImageOptions").Value.ToString() == "Repeat")
    {
        backgroundImage = backgroundImage + "background-repeat:repeat;";
    }
    else if (backgroundImage != String.Empty)
    {
        backgroundImage = backgroundImage + "background-size:cover;";
    }

    if (backgroundImage != String.Empty)
    {
        backgroundImage = String.Format(" style=\"{0}\"", backgroundImage);
    }

    <section class="content apc umb-grid @pageSettings.BackGroundStyle" @Html.Raw(backgroundImage) id="pos_@Model.Content.Id">		
        <div class="@animateClass" data-os-animation="fadeIn" data-os-animation-delay="0">
	
            @Html.GetGridHtml(Model.Content, "grid", "Bootstrap3")

        </div>
    </section>
}
