﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<USNStarterKit.USNModels.USNNewsletterFormViewModel>
@using USNStarterKit.USNBusinessLogic;
@using USNStarterKit.USNBlog;
@using USN.UrlPicker.Umbraco.Models;
@using USN.Heading.Umbraco.Models;
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;

@{
    var currentPage = Umbraco.TypedContent(Model.CurrentNodeID);
    USNTemplateStyleSettings pageSettings = USNViewTemplateHelper.GetTemplateStyleSettings(currentPage.GetPropertyValue("backgroundColor").ToString(), currentPage.GetPropertyValue("buttonColor").ToString());

    string firstDivClass = "col-md-6 col-xs-12 pull-right";
    string secondDivClass = "col-md-5 col-xs-12 pull-left";
    string formFadeInDirection = "fadeInLeft";
    string listingFadeInDirection = "fadeInRight";

    if (currentPage.HasValue("newsletterSectionPosition") && currentPage.GetProperty("newsletterSectionPosition").Value.ToString() == "Right")
    {
        firstDivClass = "col-md-6 col-xs-12 pull-left";
        secondDivClass = "col-md-5 col-xs-12 pull-right";
        formFadeInDirection = "fadeInRight";
        listingFadeInDirection = "fadeInLeft";
    }

    string animateClass = "";

    if (currentPage.GetPropertyValue<bool>("animate"))
    {
        animateClass = "os-animation";
    }

    string backgroundImage = String.Empty;

    if (currentPage.HasValue("backgroundImage") && Umbraco.TypedMedia(currentPage.GetProperty("backgroundImage").Value) != null)
    {
        backgroundImage = String.Format("background-image:url('{0}');", Umbraco.TypedMedia(currentPage.GetProperty("backgroundImage").Value).Url);
    }

    if (backgroundImage != String.Empty && currentPage.HasValue("backgroundImageOptions") && currentPage.GetProperty("backgroundImageOptions").Value.ToString() == "Repeat")
    {
        backgroundImage = backgroundImage + "background-repeat:repeat;";
    }
    else if (backgroundImage != String.Empty)
    {
        backgroundImage = backgroundImage + "background-size:cover;";
    }

    if (backgroundImage != String.Empty)
    {
        backgroundImage = String.Format(" style=\"{0}\"", backgroundImage);
    }

    <section class="content apc signup-listing no-padding @pageSettings.BackGroundStyle" @Html.Raw(backgroundImage) id="pos_@currentPage.Id">
        <div class="container">
            <!-- ROW -->
            <div class="row">
                <div class="@firstDivClass @animateClass listing-side" data-os-animation="@listingFadeInDirection" data-os-animation-delay="0">
                    <!-- LISTING - BLOG -->
                    @{
                        LinkInfo linkToListing = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromUrlPicker(currentPage.GetPropertyValue<UrlPicker>("linkToListing"));


                        if (linkToListing != null && currentPage.HasValue("pagesToDisplay"))
                        {
                            int pagesDisplayCount = Convert.ToInt32(currentPage.GetProperty("pagesToDisplay").Value);

                            if (linkToListing.LinkUmbracoNode.IsDocumentType("USNBlogLandingPage"))
                            {
                                IEnumerable<IPublishedContent> posts = USNPostService.Instance.GetPosts(linkToListing.LinkUmbracoNode);

                                var nodes = posts.Take(pagesDisplayCount).ToList();

                                if (nodes.Count() > 0)
                                {
                                    <div class="listing blog short">

                                        @if (currentPage.HasValue("listingSectionHeading"))
                                        {
                                            var listingSectionHeading = currentPage.GetPropertyValue<USNHeading>("listingSectionHeading");

                                            if (listingSectionHeading != null && !String.IsNullOrEmpty(listingSectionHeading.Heading))
                                            {
                                                @Html.Raw("<" + listingSectionHeading.HeadingStyle + " class=\"heading main " + pageSettings.HeadingStyle + "\"><span class=\"line\">")
                                                @listingSectionHeading.Heading
                                                @Html.Raw("</span></" + listingSectionHeading.HeadingStyle + ">")
                                            }
                                        }

                                        @foreach (var node in nodes)
                                        {
                                            Boolean displaySummaryText = false;
                                            string introText = "";

                                            if (node.HasValue("postSummary"))
                                            {
                                                introText = node.GetProperty("postSummary").Value.ToString();
                                                displaySummaryText = true;
                                            }
                                            else if (currentPage.HasValue("summaryTextCharacterCount") && node.IsDocumentType("USNStandardPageBlogPost"))
                                            {
                                                introText = library.StripHtml(node.GetProperty("bodyText").Value.ToString());

                                                displaySummaryText = true;

                                                int summaryTextLength = Convert.ToInt32(currentPage.GetProperty("summaryTextCharacterCount").Value);

                                                if (introText.Length >= summaryTextLength)
                                                {
                                                    introText = introText.Substring(0, summaryTextLength);
                                                }

                                                if (introText.Length > 0)
                                                {
                                                    introText = "<p>" + introText + " ...</p>";
                                                }
                                            }


                                            <div class="item" itemscope itemtype="http://schema.org/BlogPosting">

                                                <a href="@node.Url" itemprop="url">
                                                    @{

                                                        string postName = "";

                                                        if (node.HasValue("onPageTitle"))
                                                        {
                                                            postName = node.GetProperty("onPageTitle").Value.ToString();
                                                        }
                                                        else
                                                        {
                                                            postName = node.Name;
                                                        }
                                                    }
                                                    <p class="heading @pageSettings.HeadingStyle" itemprop="name headline">
                                                        @postName
                                                    </p>
                                                </a>
                                                @if (displaySummaryText)
                                                {
                                                    <div class="info">
                                                        <div class="text @pageSettings.TextStyle" itemprop="articleBody">@Html.Raw(introText)</div>
                                                    </div>
                                                }

                                                <div class="meta">
                                                    <div>
                                                        <time itemprop="datePublished"><span class="date">@node.GetProperty("postDate").Value.ToString().FormatDateTime("dd MMM yyyy")</span></time>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                        <p class="link"><a class="btn btn-borders @pageSettings.ButtonStyle" href="@linkToListing.LinkURL" @Html.Raw(linkToListing.LinkTarget) @Html.Raw(linkToListing.LinkTitle)>@linkToListing.LinkCaption@Html.Raw(linkToListing.LinkIcon)</a></p>
                                    </div>
                                }

                            }
                            else if (linkToListing.LinkUmbracoNode.Children.Where(x => x.IsDocumentType("USNStandardPage") || x.IsDocumentType("USNAdvancedPage")).Count() > 0)
                            {
                                <div class="listing blog short">
                                    @if (currentPage.HasValue("listingSectionHeading"))
                                    {
                                        var listingSectionHeading = currentPage.GetPropertyValue<USNHeading>("listingSectionHeading");

                                        if (listingSectionHeading != null && !String.IsNullOrEmpty(listingSectionHeading.Heading))
                                        {
                                            @Html.Raw("<" + listingSectionHeading.HeadingStyle + " class=\"heading main " + pageSettings.HeadingStyle + "\"><span class=\"line\">")
                                            @listingSectionHeading.Heading
                                            @Html.Raw("</span></" + listingSectionHeading.HeadingStyle + ">")
                                        }
                                    }

                                    @foreach (var item in linkToListing.LinkUmbracoNode.Children.Where(x => x.IsDocumentType("USNStandardPage") || x.IsDocumentType("USNAdvancedPage")).OrderBy("SortOrder").Take(pagesDisplayCount))
                                    {
                                        Boolean displaySummaryText = false;
                                        string introText = "";

                                        if (item.HasValue("pageSummary"))
                                        {
                                            introText = item.GetProperty("pageSummary").Value.ToString();
                                            displaySummaryText = true;
                                        }
                                        else
                                        {
                                            if (currentPage.HasValue("summaryTextCharacterCount"))
                                            {
                                                int summaryTextLength = Convert.ToInt32(currentPage.GetProperty("summaryTextCharacterCount").Value);

                                                if (summaryTextLength > 0)
                                                {
                                                    introText = item.GetProperty("bodyText").Value.ToString().StripHtml().Trim();

                                                    displaySummaryText = true;

                                                    if (introText.Length >= summaryTextLength)
                                                    {
                                                        introText = introText.Substring(0, summaryTextLength);
                                                    }

                                                    if (introText.Length > 0)
                                                    {
                                                        introText = "<p>" + introText + " ...</p>";
                                                    }
                                                }
                                            }
                                        }

                                        <div class="item">

                                            <a href="@item.Url">
                                                <p class="heading @pageSettings.HeadingStyle">
                                                    @if (item.HasValue("subPageListingLinkText"))
                                                    {
                                                        @item.GetProperty("subPageListingLinkText").Value.ToString()
                                                    }
                                                    else
                                                    {
                                                        @item.Name
                                                    }
                                                </p>
                                            </a>
                                            @if (displaySummaryText && introText != String.Empty)
                                            {
                                                <div class="info">
                                                    <div class="text @pageSettings.TextStyle">@Html.Raw(introText)</div>
                                                </div>
                                            }

                                        </div>
                                    }
                                    <p class="link"><a class="btn @pageSettings.ButtonStyle" href="@linkToListing.LinkURL" @Html.Raw(linkToListing.LinkTarget) @Html.Raw(linkToListing.LinkTitle)>@linkToListing.LinkCaption@Html.Raw(linkToListing.LinkIcon)</a></p>
                                </div>
                            }
                        }
                    }
                    <!--// LISTING - BLOG -->
                </div>

                <div class="@secondDivClass @animateClass form-side" data-os-animation="@formFadeInDirection" data-os-animation-delay="0">
                    <div class="c5-bg inner">
                    @Html.Partial("USNForms/USN_NewsletterSignup", @Model)
                    </div>
                </div>
            </div>
            <!--// ROW -->
        </div>
    </section>

}