﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    string anchorID = string.Empty;
    string image = "";

    if (Model.Content.HasValue("accompanyingImage") && Umbraco.TypedMedia(Model.Content.GetProperty("accompanyingImage").Value) != null)
    {
        image = @Umbraco.TypedMedia(Model.Content.GetProperty("accompanyingImage").Value).GetCropUrl(width: 800, height: 600);
    }


    @* Add div for column width on Advanced Pages *@
if (!Model.Content.Parent.Parent.IsDocumentType("USNStandardPage") && !Model.Content.Parent.Parent.IsDocumentType("USNStandardPageBlogPost"))
{
    if (Model.Content.HasValue("width") && Model.Content.GetProperty("width").Value.ToString() == "Centered")
    {
        @Html.Raw("<div id=\"mid-col\" class=\"col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12\">")
    }
    else
    {
        @Html.Raw("<div id=\"wide-col\" class=\"col-xs-12\">")
    }
}
else
{
    anchorID = "id=\"pos_" + Model.Content.Id + "\" ";
}

    <!-- PAGE COMPONENT CODE -->

        <div class="spc codeblock" @Html.Raw(anchorID)>
            <div class="col-md-6 col-sm-6 col-xs-12 codeblock-left">
                @Html.Raw(Model.Content.GetProperty("code").Value)
            </div>

            @if (image != String.Empty)
            {
                <div class="col-md-6 col-sm-6 col-xs-12 codeblock-right">
                    <div class="image">
                        <img class="lazyload contact-img" src="@image" />
                    </div>
                </div>
            }

        </div>


    <!--// PAGE COMPONENT CODE -->

            @* Close div for column width on Advanced Pages *@
if (!Model.Content.Parent.Parent.IsDocumentType("USNStandardPage") && !Model.Content.Parent.Parent.IsDocumentType("USNStandardPageBlogPost"))
{
    @Html.Raw("</div>")
}
}