﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    string anchorID = string.Empty;

    @* Add div for column width on Advanced Pages *@
    if (!Model.Content.Parent.Parent.IsDocumentType("USNStandardPage") && !Model.Content.Parent.Parent.IsDocumentType("USNStandardPageBlogPost"))
    {
        if (Model.Content.HasValue("width") && Model.Content.GetProperty("width").Value.ToString() == "Centered")
        {
            @Html.Raw("<div id=\"mid-col\" class=\"col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12\">")
        }
        else
        {
            @Html.Raw("<div id=\"wide-col\" class=\"col-xs-12\">")
        }
    }
    else
    {
        anchorID = "id=\"pos_" + Model.Content.Id + "\" ";
    }

    <!-- PAGE COMPONENT BLOCKQUOTE -->
    <div class="spc quotes" @Html.Raw(anchorID)>
	<div class="inner c3-bg c5-text">
        <blockquote>
            <p>@Html.Raw(umbraco.library.ReplaceLineBreaks(Model.Content.GetProperty("quote").Value.ToString()))</p>
            @if (Model.Content.HasValue("cite"))
            {
                <cite>
                    <span class="who">@Model.Content.GetProperty("cite").Value</span>
                </cite>
            }
        </blockquote>
    </div>
    </div>
    <!-- PAGE COMPONENT BLOCKQUOTE -->

    @* Close div for column width on Advanced Pages *@
    if (!Model.Content.Parent.Parent.IsDocumentType("USNStandardPage") && !Model.Content.Parent.Parent.IsDocumentType("USNStandardPageBlogPost"))
    {
        @Html.Raw("</div>")
    }
}
