﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USNStarterKit.USNBusinessLogic;
@using USNStarterKit.USNBlog;
@using USN.UrlPicker.Umbraco.Models;

@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;

@{

    var rawCurrentNodeID = UmbracoContext.Current.PageId;
    var newCurrentNodeID = Umbraco.TypedContent(rawCurrentNodeID);
    var CurrentNodeID = rawCurrentNodeID ?? default(int);
    IPublishedContent CurrentPage = Umbraco.TypedContent(CurrentNodeID);

    string postName = String.Empty;
    var buttonCaption = "READ ON";

    if (Model.Content.HasValue("onPageTitle"))
    {
        postName = Model.Content.GetProperty("onPageTitle").Value.ToString();
    }
    else
    {
        postName = Model.Content.Name;
    }

    USNTemplateStyleSettings postSettings = USNViewTemplateHelper.GetTemplateStyleSettings(Model.Content.GetPropertyValue("headerBackgroundColor").ToString(), Model.Content.GetPropertyValue("headerButtonColor").ToString());


    <a href="@Model.Content.Url" itemprop="url">
        <div class="col-xs-12 @postSettings.BackGroundStyle pod-panel">

            @if (Model.Content.HasValue("pageListingImage") && Umbraco.TypedMedia(Model.Content.GetProperty("pageListingImage").Value) != null)
            {
            <!-- IMAGE -->
                <div class="image pod-img">
                    <img src="@Umbraco.TypedMedia(Model.Content.GetProperty("pageListingImage").Value).GetCropUrl(width: 960, height: 480)" alt="@Model.Content.GetProperty("pageListingImageAltText").Value" itemprop="image">                
                </div>
                                
            <!--// IMAGE -->
            }

            <div class="home-pod-overlay">                  
                <div>
                    @Html.Partial("USNBlog/USN_BlogPostCategories", Model.Content)
                </div>     
  
                <div class="col-xs-12 text c5-text intro">
                    @if (CurrentPage.DocumentTypeAlias == "USNHomepage")
                    {                        
                            <p class="intro c5-text">@Html.Raw(@postName)</p>                       
                    }
                    else
                    {
                        <p>
                            <span class="intro">@Html.Raw(@postName)</span>
                        </p>
                    }                               
                </div>
             
                <p class="text-center home_pods_lnk intro">
                    @buttonCaption
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </p>


                <!--// HEADING -->
                <!-- META -->
                @*<div class="meta">
                        <div class="author-date">
                            <time itemprop="datePublished" datetime="@Model.Content.GetProperty("postDate").Value.ToString().FormatDateTime("yyyy-mm-dd")"><span class="date @postSettings.TextStyle">@Model.Content.GetProperty("postDate").Value.ToString().FormatDateTime("dd MMM yyyy")</span></time>

                            @if (Model.Content.GetPropertyValue("buttonCaption").ToString() != "")
                            {
                                buttonCaption = Model.Content.GetPropertyValue("buttonCaption").ToString();
                            }



                            @{
                                var landing = USNDataService.Instance.GetLanding(Model.Content);

                                int? authorNodeID = null;

                                if (Model.Content.HasValue("postAuthor"))
                                {
                                    authorNodeID = Convert.ToInt32(Model.Content.GetProperty("postAuthor").Value);
                                }
                                else if (landing.HasValue("defaultAuthor"))
                                {
                                    authorNodeID = Convert.ToInt32(landing.GetProperty("defaultAuthor").Value);
                                }

                                if (authorNodeID != null)
                                {
                                    var authorNode = Umbraco.TypedContent(Convert.ToInt32(authorNodeID));

                                    if (authorNode != null)
                                    {
                                        LinkInfo authorPage = USNUrlHelper.GetSingleUrlFromUrlPicker(authorNode.GetPropertyValue<UrlPicker>("authorPage"));

                                        <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                                            @umbraco.library.GetDictionaryItem("USN Blog Meta Model.Contented By")
                                            @if (authorPage != null)
                                            {
                                                <a itemprop="url" rel="author" href="@authorPage.LinkURL" @Html.Raw(authorPage.LinkTarget) @Html.Raw(authorPage.LinkTitle) class="@postSettings.TextStyle">@authorNode.Name@Html.Raw(authorPage.LinkIcon)</a>
                                            }
                                            else
                                            {
                                                <span class="@postSettings.TextStyle">@authorNode.Name</span>
                                            }
                                        </span>
                                    }

                                }
                            }
                        </div>
                    </div>*@
                <!--// META -->
            </div>
        </div>
        </a>
        }
