﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USNStarterKit.USNBusinessLogic;
@using USNStarterKit.USNBlog;
@using USN.UrlPicker.Umbraco.Models;

@{
    IPublishedContent currentPage = Model.Content;
    bool hasAdImage = false;
    int adPosition;
    int count;

    if (currentPage.DocumentTypeAlias == "USNBlogLandingPage")
    {
        var categoryFolder = currentPage.Children.Where(x => x.IsDocumentType("USNBlogCategories")).First();
    }
    else
    {
        var categoryFolder = currentPage.Children();
    }


    // get item count
    if (currentPage.DocumentTypeAlias == "USNBlogLandingPage")
    {
        count = int.TryParse(Model.Content.GetProperty("blogListingPageSize").Value.ToString(), out count) ? count : 10;
        adPosition = int.TryParse(Model.Content.GetProperty("adPosition").Value.ToString(), out adPosition) ? adPosition : -1;
        hasAdImage = Model.Content.HasValue("adImage");
    }
    else
    {
        count = int.TryParse(Model.Content.Parent.Parent.GetProperty("blogListingPageSize").Value.ToString(), out count) ? count : 10;
        adPosition = int.TryParse(Model.Content.Parent.Parent.GetProperty("adPosition").Value.ToString(), out adPosition) ? adPosition : -1;
        hasAdImage = Model.Content.Parent.Parent.HasValue("adImage");
    }

    object adImageValue = null;


    if (hasAdImage)
    {
        adImageValue = Model.Content.GetProperty("adImage").Value;
    }

    LinkInfo adLink;
    adLink = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromUrlPicker(Model.Content.GetPropertyValue<UrlPicker>("adLink"));

    // get tag, category, or author from query string
    int page = int.TryParse(Request.QueryString["page"], out page) ? page : 1;
    int year = int.TryParse(Request.QueryString["year"], out year) ? year : 0;
    int month = int.TryParse(Request.QueryString["month"], out month) ? month : 0;

    string catID = Request.QueryString["category"];
    //string catID = currentPage.Id.ToString();

    if (!String.IsNullOrEmpty(catID) && String.IsNullOrEmpty(Request.QueryString["year"]))
    {
        var catPage = Umbraco.TypedContent(Convert.ToInt32(catID));

        //Get Ad from category
        int newAdPosition = -1;
        if (!String.IsNullOrEmpty(catPage.GetProperty("adPosition").Value.ToString()) &&
            int.TryParse(catPage.GetProperty("adPosition").Value.ToString(), out newAdPosition))
        {
            if (newAdPosition > 0)
            {
                adPosition = newAdPosition;
                adLink = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromUrlPicker(catPage.GetPropertyValue<UrlPicker>("adLink"));
                hasAdImage = catPage.HasValue("adImage");
                if (hasAdImage)
                {
                    adImageValue = catPage.GetProperty("adImage").Value;
                }
            }
        }
    }

    if (adPosition > -1)
    {
        count = count - 1;
    }

    IPublishedContent currentCategory = Umbraco.TypedContent(catID);
    IEnumerable<IPublishedContent> posts = USNPostService.Instance.GetPosts(Model.Content.DescendantOrSelf(), catID, page - 1, count, month, year);

    // get landing node
    var landing = USNDataService.Instance.GetLanding(Model.Content);

    // only get posts where the path has the landing node's id.
    posts = posts.Where(x => x.Path.Contains(landing.Id + ","));

    IEnumerable<IPublishedContent> nodes = posts.Take(count).ToList();

    int postCount = USNPostService.Instance.GetPosts(Model.Content, catID, 0, int.MaxValue, month, year).Count();

    int summaryTextLength = 0;

    if (Model.Content.HasValue("blogSummaryTextCharacterCount"))
    {
        summaryTextLength = Convert.ToInt32(Model.Content.GetProperty("blogSummaryTextCharacterCount").Value);
    }

    //Only display blog page content on first page
    if (page == 1)
    {
        if (String.IsNullOrEmpty(catID) && String.IsNullOrEmpty(Request.QueryString["year"]))
        {
            if ((Model.Content.HasValue("mainImage") && Umbraco.TypedMedia(Model.Content.GetProperty("mainImage").Value) != null) || Model.Content.HasValue("bodyText"))
            {
                <div class="content-area inner c5-bg">
                    <!-- IMAGE -->
                    @Html.Partial("USNMiscPageElements/USN_MainImage", @Model)
                    <!--// IMAGE -->
                    @Umbraco.Field("bodyText")

                </div>
            }
        }
        else if (!String.IsNullOrEmpty(catID) && String.IsNullOrEmpty(Request.QueryString["year"]))
        {
            var catPage = Umbraco.TypedContent(Convert.ToInt32(catID));
            @Umbraco.Field(catPage, "categoryIntroduction", insertBefore: "<div class=\"content-area inner c5-bg\">", insertAfter: "</div>")
        }
    }

    if (posts.Count() > 0)
    {
        var position = 0;
    <!-- LISTING -->
        <div class="listing blog">

            <!-- ROW -->
            <div class="row">


                @foreach (IPublishedContent n in nodes)
                {
                    position++;
                    if (position == adPosition)
                    {

                        <div class="item col-sm-6 col-xs-12" itemscope itemtype="http://schema.org/BlogPosting">
                            @if (hasAdImage && Umbraco.TypedMedia(adImageValue) != null)
                        {
                                <a href="@adLink.LinkURL" @Html.Raw(adLink.LinkTarget) @Html.Raw(adLink.LinkTitle)>
                                    <div class="inner c5-bg" style="min-height: 640px; background-image: url('@Umbraco.TypedMedia(adImageValue).GetCropUrl(width: 360)'); background-size: 100% auto; background-repeat: no-repeat;overflow:hidden;">
                                    </div>
                                </a>
                            }
                        </div>}

                    Boolean displaySummaryText = false;
                    string introText = "";

                    if (n.HasValue("pageSummary"))
                    {
                        introText = n.GetProperty("pageSummary").Value.ToString();
                        displaySummaryText = true;
                    }
                    else if (summaryTextLength > 0 && n.IsDocumentType("USNStandardPageBlogPost"))
                    {

                        introText = library.StripHtml(n.GetProperty("bodyText").Value.ToString());

                        displaySummaryText = true;


                        if (introText.Length >= summaryTextLength)
                        {
                            introText = introText.Substring(0, summaryTextLength);
                        }

                        if (introText.Length > 0)
                        {
                            introText = "<p>" + introText + " ...</p>";
                        }

                    }

                    <div class="item col-sm-6 col-xs-12" itemscope itemtype="http://schema.org/BlogPosting">                       
                        <div class="inner c5-bg" style="padding:0;">
                            @{

                                string postName = "";

                                if (n.HasValue("onPageTitle"))
                                {
                                    postName = n.GetProperty("onPageTitle").Value.ToString();
                                }
                                else
                                {
                                    postName = n.Name;
                                }
                                if (n.HasValue("pageListingImage") && Umbraco.TypedMedia(n.GetProperty("pageListingImage").Value) != null)
                                {
                                    <a href="@n.Url" itemprop="url">
                                        <div class="blog-list-img"><img src="@Umbraco.TypedMedia(n.GetProperty("pageListingImage").Value).GetCropUrl(width: 400, height: 300)" alt="@n.GetProperty("pageListingImageAltText").Value" itemprop="image"></div>
                                    </a>
                                }

                            }
                            <div class="inner">
                            <!-- META -->
                            <div class="meta">
                                <span class="categories">@Html.Partial("USNBlog/USN_BlogPostCategories", n)</span>
                            </div>
                            <!--// META -->

                            <a href="@n.Url" itemprop="url">
                                <p class="heading" itemprop="name headline">
                                    @postName
                                </p>
                            </a>

                            <div class="info">


                                @if (displaySummaryText)
                                {
                                    <div class="text" itemprop="articleBody">@Html.Raw(introText)</div>
                                }
                            </div>

                            <!-- META -->
                            <div class="meta">
                                <div class="author-date">
                                    <time itemprop="datePublished" datetime="@n.GetProperty("postDate").Value.ToString().FormatDateTime("yyyy-mm-dd")"><span class="date">@n.GetProperty("postDate").Value.ToString().FormatDateTime("dd MMM yyyy")</span></time>

                                    @{

                                        int? authorNodeID = null;

                                        if (n.HasValue("postAuthor"))
                                        {
                                            authorNodeID = Convert.ToInt32(n.GetProperty("postAuthor").Value);
                                        }
                                        else if (landing.HasValue("defaultAuthor"))
                                        {
                                            authorNodeID = Convert.ToInt32(landing.GetProperty("defaultAuthor").Value);
                                        }

                                        if (authorNodeID != null)
                                        {
                                            var authorNode = Umbraco.TypedContent(Convert.ToInt32(authorNodeID));

                                            if (authorNode != null)
                                            {
                                                LinkInfo authorPage = USNUrlHelper.GetSingleUrlFromUrlPicker(authorNode.GetPropertyValue<UrlPicker>("authorPage"));

                                                <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                                                    @umbraco.library.GetDictionaryItem("USN Blog Meta Model.Contented By")
                                                    @if (authorPage != null)
                                                    {
                                                        <a itemprop="url" rel="author" href="@authorPage.LinkURL" @Html.Raw(authorPage.LinkTarget) @Html.Raw(authorPage.LinkTitle)>@authorNode.Name@Html.Raw(authorPage.LinkIcon)</a>
                                                    }
                                                    else
                                                    {
                                                        @authorNode.Name
                                                    }
                                                </span>
                                            }

                                        }
                                    }
                                </div>
                            </div>
                            <!--// META -->
                            </div>

                        </div>
                    </div>
                                        }
            </div>
            <!-- ROW -->
        </div>

                                        // pagination
                                        @RenderPagination(page, postCount, count)
                                        }
                                        else
                                        {
                                            <div class="content-area inner panel-bg">
                                                <p>@umbraco.library.GetDictionaryItem("USN Blog Nothing Found")</p>
                                            </div>
                                        }

}

@helper RenderPagination(int page, int postCount, int itemsPerPage)
{
int pages = (int)Math.Ceiling((double)postCount / (double)itemsPerPage);

string url = Request.Url.ToString();
string querystring = Request.Url.Query;

int pagesPerGroup = 10;

if (pages > 1)
{
        <nav id="pagination" class="text-center panel-bg">
            <ul class="pagination">
                @* render prev link *@
                @if (page > 1)
                {
                    url = url.ReplaceQueryStringItem("page", (page - 1).ToString());
                    <li class="prev">
                        <a href="@url" aria-label="Previous" title="@umbraco.library.GetDictionaryItem("USN Listing Navigation Previous")"><i class="ion-chevron-left"></i><span class="hidden">@umbraco.library.GetDictionaryItem("USN Listing Navigation Previous")</span></a>
                    </li>

                    if (page > pagesPerGroup)
                    {
                        if (page % pagesPerGroup == 0)
                        {
                            url = url.ReplaceQueryStringItem("page", (page - pagesPerGroup).ToString());
                        }
                        else
                        {
                            url = url.ReplaceQueryStringItem("page", ((page / pagesPerGroup) * pagesPerGroup).ToString());
                        }

                        <li class="hidden-xs"><a href="@url">...</a></li>
                    }
                }
                @* render page links *@
                @{
                    int pagesCount = 0;
                    int startPage = 1;


                    if (page <= pagesPerGroup)
                    {
                        startPage = 1;
                    }
                    else if (page % pagesPerGroup > 0)
                    {
                        startPage = page - (page % pagesPerGroup) + 1;
                    }
                    else if (page % pagesPerGroup == 0)
                    {
                        startPage = (page - pagesPerGroup) + 1;
                    }

                    for (int i = startPage; i < pages + 1; i++)
                    {
                        if (pagesCount == pagesPerGroup)
                        {
                            break;
                        }
                        url = url.ReplaceQueryStringItem("page", i.ToString());
                        string pageClass = i == page ? "active" : string.Empty;

                        <li class="hidden-xs @pageClass">
                            @if (page == i)
                            {
                                <a href="@url" class="disabled">@i<span class="sr-only">(current)</span></a>
                            }
                            else
                            {
                                <a href="@url">@i</a>
                            }
                        </li>

                        pagesCount += 1;
                    }

                }
                @{

                    int totalGroups = 0;

                    if (pages % pagesPerGroup == 0)
                    {
                        totalGroups = pages / pagesPerGroup;
                    }
                    else
                    {
                        totalGroups = pages / pagesPerGroup + 1;
                    }

                    int currentGroup = 0;

                    if (page % pagesPerGroup == 0)
                    {
                        currentGroup = page / pagesPerGroup;
                    }
                    else
                    {
                        currentGroup = page / pagesPerGroup + 1;
                    }


                    if (totalGroups != currentGroup)
                    {

                        if (page % pagesPerGroup == 0)
                        {
                            url = url.ReplaceQueryStringItem("page", (page + 1).ToString());
                        }
                        else
                        {
                            int liPageNumber = (((page / pagesPerGroup) + 1) * pagesPerGroup) + 1;
                            url = url.ReplaceQueryStringItem("page", liPageNumber.ToString());
                        }

                        <li class="hidden-xs">
                            <a href="@url">...</a>
                        </li>
                    }
                }

                @if (page < Math.Ceiling((double)postCount / itemsPerPage))
                {
                    url = url.ReplaceQueryStringItem("page", (page + 1).ToString());
                    @* render next link *@
                    <li class="next">
                        <a href="@url" aria-label="Next" title="@umbraco.library.GetDictionaryItem("USN Listing Navigation Next")"><span class="hidden">@umbraco.library.GetDictionaryItem("USN Listing Navigation Next")</span><i class="ion-chevron-right"></i></a>
                    </li>
                }
            </ul>

        </nav>
                    }
}