﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USNStarterKit.USNBlog;

@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;

@{
    var rawCurrentNodeID = UmbracoContext.Current.PageId;
    var newCurrentNodeID = Umbraco.TypedContent(rawCurrentNodeID);
    var CurrentNodeID = rawCurrentNodeID ?? default(int);
    IPublishedContent CurrentPage = Umbraco.TypedContent(CurrentNodeID);


    List<string> allCategories = new List<string>();

    // get landing page
    var landing = USNDataService.Instance.GetLanding(Model.Content);

    if (Model.Content.HasValue("postCategories"))
    {
        var categories = Model.Content.GetProperty("postCategories").Value.ToString().Split(",".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
        allCategories.AddRange(categories);

        int currentCount = 1;

        //Just takes first category if an item has more than one category
        foreach (var c in allCategories)
        {
            if (!string.IsNullOrEmpty(c.Trim()))
            {
                var catNode = Umbraco.TypedContent(c);

                if (catNode != null)
                {
                    string lsCatURL = landing.Url + "?category=" + catNode.Id.ToString();
                    string catTitle = catNode.Name;
                    USNTemplateStyleSettings catSettings = USNViewTemplateHelper.GetTemplateStyleSettings(catNode.GetPropertyValue("panelColor").ToString());
                    if (!catNode.GetPropertyValue("categoryPageTitle").ToString().IsNullOrWhiteSpace())
                    {
                        catTitle = catNode.GetPropertyValue("categoryPageTitle").ToString();
                    }

                    if (CurrentPage.DocumentTypeAlias == "USNHomepage")
                    {
                        if (currentCount == 1)
                        {
                            <h2 class=" @catSettings.HeadingStyle @catSettings.BackGroundStyle text-center home-pods-hdr">
                                @catTitle
                            </h2>
                        }

                    }
                    else
                    {
                        <a href="@lsCatURL" title="@catNode.Name" rel="NOINDEX, FOLLOW" class="c1-text">@catNode.Name</a>
                        if (currentCount != allCategories.Count && allCategories.Count != 1)
                        {
                            @Html.Raw(", ");
                        }
                    }                 
                
                }

                currentCount += 1;
            }
        }
    }

}