﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    <div class="item blockquote-pod c3-bg">
        <div class="inner">
            <blockquote class="c5-text">
                <p>@Html.Raw(umbraco.library.ReplaceLineBreaks(Model.Content.GetProperty("quote").Value.ToString()))</p>
                @if (Model.Content.HasValue("cite"))
                {
                    <cite>
                        <span class="who">@Model.Content.GetProperty("cite").Value</span>
                    </cite>
                }
            </blockquote>
        </div>
    </div>
}