﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.UrlPicker.Umbraco.Models;

@{
    LinkInfo podLink = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromUrlPicker(Model.Content.GetPropertyValue<UrlPicker>("podLink"));
    
    string podText = Model.Content.GetProperty("podText").Value.ToString();

    <div class="item general-pod c5-bg">
        <div class="inner">
        @if (Model.Content.HasValue("podHeading"))
        {
            <p class="heading">
                <span class="line">
                @if (podLink != null)
                {
                    @Html.Raw("<a class=\"c3-text\" href=\"" + podLink.LinkURL + "\" " + podLink.LinkTitle + " " + podLink.LinkTarget + ">")
                }
                @Html.Raw(Model.Content.GetProperty("podHeading").Value)
                @if (podLink != null)
                {
                    @Html.Raw(podLink.LinkIcon + "</a>")
                }
                </span>
            </p>
        }

        @if (podText != String.Empty || podLink != null)
        {
            @Html.Raw("<div class=\"info\">");
        }

        @if (podText != String.Empty)
        {
            <div class="text">@Html.Raw(podText)</div>
        }

        @if (podLink != null)
        {
            <p class="link"><a href="@podLink.LinkURL" @Html.Raw(podLink.LinkTitle) @Html.Raw(podLink.LinkTarget) class="btn btn-borders c1-borders c1-text std-btn">@podLink.LinkCaption@Html.Raw(podLink.LinkIcon)</a></p>
        }

        @if (podText != String.Empty || podLink != null)
        {
            @Html.Raw("</div>");
        }
        </div>
    </div>
    
}