﻿@media only screen and (max-width : 767px) {

    /*Imported Styles*/

    .box {
        height: auto !important;
    }

    html.reveal-out #site {
        height: 0px;
    }

    .navigation nav.main {
        border-style: none;
    }

    .navigation nav.main {
        border-style: none;
    }

    .navigation nav.top {
        background-color: @c5;
    }

    .navigation nav.top {
        padding: 15px 0 15px 15px;
    }

    .navigation nav.top li a {
        color: @c3;
    }


    html.reveal-out header, html.nav-down.reached-top.reveal-out header {
        /*background-color:@c3; background-color:fade(@c3,100%);*/
        background-color: @c2;
        background-color: fade(@c2,100%);
    }

    .navigation nav.top {
        background-color: @c2;
    }

    .navigation nav.main {
        background-color: @c2;
    }

    .navigation nav.top li a {
        color: @c5;
    }

    .nav-item {
        padding: 18px 40px 0 15px;
    }

    /*.search-form-pos{
        margin-bottom:0;
    }*/

    .bnr-text {
        padding-top: 15px;
    }

    .outer-wrapper {
        height: 50%;
    }

    .apc.banner .item.medium, .apc.banner .item.medium .container, .apc.banner .item.medium .row {
        height: auto;
    }

    .pos-correct {
        margin-top: 20px !important;
    }

    .image-align {
        min-height: 241px;
        margin-top: 20px;
        background-position: center;
    }
}
