﻿@import "custom-variables.less";

@media (min-width: 650px) {

    .video-min-650 {
        /*min-height: 665px !important;*/
        min-height: 925px !important;
       
    }

    .slide-min-650 {
        min-height: 636.5px !important;
    }
}
