﻿@import "custom-variables.less";

@media (min-width: 1200px) {

    .pod-panel-scale {
        min-height: 455px;
    }

    .pod-panel {
        min-height: 455px;
    }

    footer {     
        padding: 20px 0px 20px;
    }

    .inner {
         padding: 30px; 
    }

    .cat-container {
        padding-top: 0;
    }







    .embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
        max-height: 450px;
        /*top: 46px;*/
    }

    .video-container {
        padding-top: 0 !important;
    }
}
