﻿@import "custom-variables.less";

@media (min-width: 480px) {

    .video-min-480 {
        min-height: 590px !important;
        /*min-height: 920px !important;*/
    }


    .slide-min-480 {
        /*min-height: 500px !important;*/
        min-height: 500px !important;
    }

    /*.cat-wrapper{
        min-height:50px;
    }*/

} 