﻿@import "custom-variables.less";

@media (min-width: 768px) {
.navigation nav.main li > a:hover {
		color:@c5; color:fade(@c5,100%);
		background-color:fade(@c5,40%);
		}	
	iframe, object, embed {
		max-width: 100%;
		height: auto;
		/*min-height: 450px;*/
	}




    /*Imported Styles*/

    h1 {
        font-size: 35px;
    }

    /*h2 {
        font-size: 30px;
    }*/

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 19px;
    }

    /*h6 {
        font-size: 16px;
    }*/

    #content {
        padding-top: 20px;
    }

    .pod-panel {
        /*min-height: 380px;*/
        min-height: 455px;
    }

    .pod-panel-1 {
        padding: 0px 5px 0 0;
    }

    .pod-panel-2 {
        padding: 0px 5px 0 5px;
    }

    .pod-panel-3 {
        padding: 0px 0 0 5px;
    }

    .banner .intro {
        font-size: 140%;
        font-weight: 300;
    }

    .intro {
        font-size: 140%;
        font-weight: 300;
    }

    .box-scale {
        max-height: 857px;
        min-height: 803px;
    }

    .apc.banner .info .table {
        padding-right: 0px;
        padding-left: 0px;
    }

    a:hover, a:focus {       
        text-decoration: none;
    } 

    .apc.banner .info .table {
        padding-right: 0px;
        padding-left: 0px;
    }

    .video-min-767 {
        /*min-height: 774.5px !important;*/
        /*min-height: 931.5px !important;*/
        /*min-height: 1016px !important;*/
    }

    /*.slide-min-767 {
        min-height: 766px !important;
    }*/

    .cat-panel {  
            height: 14.28% !important;      
    }

    .panel-glyphicon {
        font-size: 2.5em;
        top:-2px;
    }

    /*iframe, object, embed {
        min-height: 350px;
    }*/

    nav.footer ul li {
        margin: 0 30px 0 0;
    }

    .nav-item {
        font-size: 17px;
    }

    .credit-pos {
        padding-top: 15px;
        margin-right: 30px;
    }

    .link {
        font-size: 17px;
    }

    .company-link:hover {
        color: fade(@c5,90%);
    }

    .navigation nav.main {
        left: 0;
        height: auto;
    } 

    .nav-panel {
        height: 73px;
        border-left: solid 1px @c5 !important;
        word-spacing: 100px;
    }


    .nav-panel-1:hover {
        background-color: fade(@c1,90%);
    }

    .nav-panel-2:hover {
        background-color: fade(@c2,90%);
    }

    .nav-panel-3:hover {
        background-color: fade(@c3,90%);
    }

    .nav-panel-4:hover {
        background-color: fade(@c4,90%);
    }

    .nav-panel-5:hover {
        background-color: fade(@c5,90%);
    }
    .nav-panel-6:hover {
        background-color: fade(@c6,90%);
    }
    .nav-panel-7:hover {
        background-color: fade(@c7,90%);
    }
    .nav-panel-8:hover {
        background-color: fade(@c8,90%);
    }

    .nav-panel-1 {
        -webkit-box-shadow: inset 0px 0px 0px 10px @c1;
        -moz-box-shadow: inset 0px 0px 0px 10px @c1;
        box-shadow: inset 0 -10px 0px @c1;
        width: 20%;
    }

    .nav-panel-2 {
        -webkit-box-shadow: inset 0px 0px 0px 10px @c2;
        -moz-box-shadow: inset 0px 0px 0px 10px @c2;
        box-shadow: inset 0 -10px 0px @c2;
        width: 20%;
    }

    .nav-panel-3 {
        -webkit-box-shadow: inset 0px 0px 0px 10px @c3;
        -moz-box-shadow: inset 0px 0px 0px 10px @c3;
        box-shadow: inset 0 -10px 0px @c3;
        width: 20%;
    }

    .nav-panel-4 {
        -webkit-box-shadow: inset 0px 0px 0px 10px @c4;
        -moz-box-shadow: inset 0px 0px 0px 10px @c4;
        box-shadow: inset 0 -10px 0px @c4;
        width: 20%;
    }

    .nav-panel-5 {
        -webkit-box-shadow: inset 0px 0px 0px 10px @c5;
        -moz-box-shadow: inset 0px 0px 0px 10px @c5;
        box-shadow: inset 0 -10px 0px @c5;
        width: 20%;
    }

    .nav-panel-6 {
        -webkit-box-shadow: inset 0px 0px 0px 10px @c6;
        -moz-box-shadow: inset 0px 0px 0px 10px @c6;
        box-shadow: inset 0 -10px 0px @c6;
        width: 20%;
    }

    .nav-panel-7 {
        -webkit-box-shadow: inset 0px 0px 0px 10px @c7;
        -moz-box-shadow: inset 0px 0px 0px 10px @c7;
        box-shadow: inset 0 -10px 0px @c7;
        width: 20%;
    }

    .nav-panel-8 {
        -webkit-box-shadow: inset 0px 0px 0px 10px @c8;
        -moz-box-shadow: inset 0px 0px 0px 10px @c8;
        box-shadow: inset 0 -10px 0px @c8;
        width: 20%;
    }

    .navigation nav.main {
        padding: 0 0 0;
    }

    html.reveal-out header, html.nav-down.reached-top.reveal-out header {
        background-color: @c5;
    }

    .navigation nav.top {
        background-color: @c2;
    }

    .navigation nav.main {
        border-style: none;
    }


    .navigation nav.top li a {
        display: block;
        padding: 13px 0 5px;
        height: 40px;
        /*color: @c5;*/
    }

    .navigation nav.top {
        padding: 15px 0 15px 15px;
    }

    .navigation nav.main {
        left: 0;
        height: auto;
    } 

    .navigation nav.main > ul > li > span a {
        height: auto;
        padding: 15px 5px 22px 5px;
        /*padding: 22px 5px;*/
    }

    .navigation nav.top {
        padding-top: 10px;
        padding-right: 10px;
        background-color: @c5;
    }

    .navigation nav.top {
        padding-top: 10px;
        padding-right: 10px;
        top: 0;
        /*position: absolute;       
        right: 15px;
        padding: 0;*/
    }

    .apc.banner .item.short .info, .apc.banner .item.medium .info {
        /*padding-top: 30px;*/
        padding-bottom: 20px;
    }

    .half-wrapper {
        padding-top: 0; 
    }

    .lg-top-nav {
        display: block;
    }

    .mob-top-nav {
        display: none;
    }

    .search-pos {
        float: none;
        width: 100%;
    }

    .search-btn {
        font-size:17px;
    }

    .listing {
        background-color: #f4f4f4;
    }

    .listing .item {
        padding-bottom: 16px;
        margin-bottom: 24px;
    }

    .cat-container {
        padding-right: 5px;
    }

    .video-container {
        height:100%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;

    }

    .sm-left{
        float:left;
    }

    .sm-right {
        float:right;
    }

    header::after {     
         background-color: @c5; 
    }





.apc.banner {
    margin-top: 20px;
}

.outer-wrapper {
    height: 100%;
}

.item.medium .row {
    height: 65vh;
    min-height: 600px;
}


.half-wrapper {
    padding-top: 15px;
    height:50%;
}

.vertical-centre {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.vid-centre-lg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.vid-centre {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.c1-btn:hover {
    border: solid @c5 5px;
    text-align: center;
    background-color: @c5;
    color: @c1;
}

.c2-btn:hover {
    border: solid @c5 5px;
    text-align: center;
    background-color: @c5;
    color: @c2;
}

.c3-btn:hover {
    border: solid @c5 5px;
    text-align: center;
    background-color: @c5;
    color: @c3;
}

.c4-btn:hover {
    border: solid @c5 5px;
    text-align: center;
    background-color: @c5;
    color: @c4;
}

.c5-btn:hover {
    border: solid @c3 5px;
    text-align: center;
    background-color: @c3;
    color: @c5;
}

.c6-btn:hover {
    border: solid @c5 5px;
    text-align: center;
    background-color: @c5;
    color: @c6;
}

.c7-btn:hover {
    border: solid @c5 5px;
    text-align: center;
    background-color: @c5;
    color: @c7;
}

.c8-btn:hover {
    border: solid @c5 5px;
    text-align: center;
    background-color: @c5;
    color: @c8;
}

.c1-bg .std-btn:hover {
    border: solid @c5 5px;
    background-color: @c5;
    color:@c1;
}

.c2-bg .std-btn:hover {
    border: solid @c5 5px;
    background-color: @c5;
    color: @c2;
}

.c3-bg .std-btn:hover {
    border: solid @c5 5px;
    background-color: @c5;
    color: @c3;
}

.c4-bg .std-btn:hover {
    border: solid @c5 5px;
    background-color: @c5;
    color: @c4;
}

.c5-bg .std-btn:hover {
    border: solid @c1 5px;
    background-color: @c1;
    color: @c5;
}

.c6-bg .std-btn:hover {
    border: solid @c5 5px;
    background-color: @c5;
    color: @c6;
}

.c7-bg .std-btn:hover {
    border: solid @c5 5px;
    background-color: @c5;
    color: @c7;
}

.c8-bg .std-btn:hover {
    border: solid @c5 5px;
    background-color: @c5;
    color: @c8;
}

    .tab-content a:hover img {
        transform: scale(1.1);
        overflow: hidden !important;
    }

    .home-pods-hdr{ 
        font-size:25px;
    }










    .apc.banner .item.medium, .apc.banner .item.medium .container, .apc.banner .item.medium .row {
        height: 450px;
        min-height: 450px;
        max-height: 450px;
    }

    .apc.banner .info .table {
        height: 450px;
    }

    .video-container {
        max-height: 450px;
    }


    .half-wrapper {
        padding-top: 0 !important;
    }

    .video-container {
        padding-top: 10px;
    }

    /*.contact-img {
        height: 450px;
        width: 100%;
    }*/

    /*.codeblock {
        min-height: 450px;
    }*/

    .codeblock-left {
        padding-left: 0;
        padding-right: 7.5px;
    }

    .codeblock-right {
        padding-left: 7.5px;
        padding-right: 0;
    }

    .apc.banner .item .short, .apc.banner .item .short .container, .apc.banner .item .short .row {
        height: 400px;
        min-height: 400px;
        max-height: 400px;
    }

    .apc.banner .short .info .table {
        height: 400px;
    }
    .apc.banner .takeover .info .table {
        height: 100vh;
    }

    .apc.banner .takeover .video-container {
        max-height: 100%;
    }
}