﻿@media (min-width: 992px) and (max-width: 1170px) {
    html.reveal-out header, header, header .container {
        height: 190px;
    }

    .content {
        padding: 80px 0;
    }
    .navigation nav.main {    
    top: 95px;    
}

    .cat-container {
        padding-top:10px;
    }

}
