﻿@media (min-width: 992px) {
    	html.nav-up header {		
        top:-100px;
		}
     
        
        /*Imported Styles*/
    h1 {
        font-size: 40px;
        padding-bottom: 30px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 25px;
    }

    h5 {
        font-size: 22px;
    }

    h6 {
        font-size: 19px;
    }

    .apc .heading.main {
        padding-bottom: 30px;
    }

    .apc.banner/*, .apc.promo-pods*/ {
        margin-top:38px;
    }

    .video-container {
        padding-right: 0;
        padding-left: 5px;
        padding-bottom: 0;
        padding-top: 0;
    }

    .video-wrapper {
        padding-top: 0;
    }

    header + .apc.banner .item:not(.takeover) .info {
        padding: 0px 0 !important;
    }

    .vertical-centre {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    /*.glyph-container {
        line-height: 83.53px;
    }*/

    .navigation nav.main > ul > li > span {
        font-size: 17px;
    }

    html.no-touch nav.footer ul li a {
        font-size: 17px;
    }

    .copyright {
        font-size: 17px;
    }

    site-credit {
        font-size: 17px;
    }

    .link-pos {
        position: absolute;
        bottom: 15px;
    }

    .apc .heading.main {
        padding-bottom: 30px;
    }

    .apc .heading.main {
        padding-bottom: 30px;
    }

    .half-wrapper {
        height: 50%;
    }

    .navigation nav.main > ul > li > span {
        font-size: 17px;
    }

    .inner {
         padding: 20px;  
    }

    header #logo {
        top: 0;
    }








    .apc.banner .item .short, .apc.banner .item .short .container, .apc.banner .item .short .row {
        height: 400px;
        min-height: 400px;
        max-height: 400px;
    }
    .apc.banner .item.medium, .apc.banner .item.medium .container, .apc.banner .item.medium .row {
        height: 450px;
        min-height:450px;
        max-height:450px;
    }

    .apc.banner .info .table {
      height:450px;
    }
    .video-container {     
        max-height: 450px;
    }
 
   
    .half-wrapper {
        padding-top: 0 !important;
    }



    .banner ul.slick-dots li.slick-active button, .c1-bg ul.slick-dots li.slick-active button, .c2-bg ul.slick-dots li.slick-active button, .c3-bg ul.slick-dots li.slick-active button,
    .c4-bg ul.slick-dots li.slick-active button, .c5-bg ul.slick-dots li.slick-active button, .c6-bg ul.slick-dots li.slick-active button, .c7-bg ul.slick-dots li.slick-active button,
    .c8-bg ul.slick-dots li.slick-active button {
        background-color: red;
    }

    .banner ul.slick-dots li button, .c1-bg ul.slick-dots li button, .c2-bg ul.slick-dots li button, .c3-bg ul.slick-dots li button,
    .c4-bg ul.slick-dots li button, .c5-bg ul.slick-dots li button, .c6-bg ul.slick-dots li button, .c7-bg ul.slick-dots li button,
    .c8-bg ul.slick-dots li button {
        background-color: rgba(255, 255, 255, 1);
        border: solid red 4px;
    }

    ul.slick-dots {
        right: 40px;
        bottom: 40px;
        left: auto;
        text-align: right;
    }

    .slick-prev {
        display: none !important;
    }

    .slick-next {
        display: none !important;
    }

    .codeblock iframe, object, embed {
        max-width: 100%;
        height: auto;
        min-height: 450px;
    }

    .contact-img {
        height: 450px;
    }
    .apc.banner .takeover .info .table {
        height: 100vh;
    }

    .apc.banner .takeover .video-container {
        max-height: 100%;
    }

}