﻿@import "custom-variables.less";

body {
    font-family: "Arial Bold",sans-serif;
}
header {
    min-height: 110px;
}

.content {
    padding: 56px 0;
}

iframe, object, embed {
    max-width: 100%;
    height: auto;
}

.checkbox input[type="checkbox"] {
    margin-left: 0;
    position: relative;
}

.checkbox {
    display: inline-block;
}

.site-search {
    position: relative;
    margin: 0;
}

/*Imported Styles*/
body {
    background-color: @c5;
    color: @c3;
}

body .apc.c1-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c5;
}

body .apc.c2-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c5;
}

body .apc.c3-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c5;
}

body .apc.c4-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c5;
}

body .apc.c5-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c3;
}

body .apc.c6-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c5;
}

body .apc.c7-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c5;
}

body .apc.c8-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c5;
}

#site {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
}

.heading {
    text-transform: uppercase;
}

.intro {
    font-size: 110%;
}

body.fixed-width #site,
body.fixed-width header {
    right: auto;
    left: auto;
    max-width: 1500px;
    margin: 0 auto;
}

.c5-bg, #site, .cookie-notice, .spc.pricing-menu {
    background-color: @c5;
    background-color: fade(@c5,100%);
}

.c1-bg .text {
    color: @c5;
}

.c2-bg .text {
    color: @c5;
}

.c3-bg .text {
    color: @c5;
}

.c4-bg .text {
    color: @c5;
}

.c5-bg .text {
    color: @c3;
}

.c6-bg .text {
    color: @c5;
}

.c7-bg .text {
    color: @c5;
}

.c8-bg .text {
    color: @c5;
}

a .c1-bg span {
    color: @c5;
}

a .c2-bg span {
    color: @c5;
}

a .c3-bg span {
    color: @c5;
}

a .c4-bg span {
    color: @c5;
}

a .c5-bg span {
    color: @c3;
}

a .c6-bg span {
    color: @c5;
}

a .c7-bg span {
    color: @c5;
}

a .c8-bg span {
    color: @c5;
}

.c1-bg a {
    color: @c5;
}
.c2-bg a {
    color: @c5;
}

.c3-bg a {
    color: @c5;
}

.c4-bg a {
    color: @c5;
}

.c6-bg a {
    color: @c5;
}

.c7-bg a {
    color: @c5;
}

.c8-bg a {
    color: @c5;
}

a .c1-bg .home-pod-overlay span {
    color: @c5;
}

a .c2-bg .home-pod-overlay span {
    color: @c5;
}

a .c3-bg .home-pod-overlay span {
    color: @c5;
}

a .c4-bg .home-pod-overlay span {
    color: @c5;
}

a .c5-bg .home-pod-overlay span {
    color: @c5;
}

a .c6-bg .home-pod-overlay span {
    color: @c5;
}

a .c7-bg .home-pod-overlay span {
    color: @c5;
}

a .c8-bg .home-pod-overlay span {
    color: @c5;
}

fieldset label em.req {
    color: @c5;
}

.breadcrumb-trail ol li::before, .breadcrumb-trail ol li::after {
    background-color: @c2;
}

.xl-btn {
    width: 100%;
}

.cat-panel {
    height: 74px;
   
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.cat-panel-border {
    border-bottom: 3px solid white;
}

.cat-wrapper {
    height: 50%;
    min-height: 40px;
}

.panel-glyphicon {
    font-size: 2em;
}

.apc.banner .item.short .info, .apc.banner .item.medium .info {
    /*padding-top: 30px;*/
    padding-top: 0;
    padding-bottom: 20px;
}

.search-form-pos {
    margin-bottom: 0;
}

.panel-vertical-centre {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-6px);
}

.lg-top-nav {
    display: none;
}

.mob-top-nav {
    display: block;
}

.search-pos {
    float: left;
    width: 88%;
}

.search-btn {
    font-size: 24px;
}

.panel-bg {
    background-color: #f4f4f4;
    padding: 15px;
}

.meta .comments, .meta .categories {
    text-transform: uppercase;
}

.meta .categories a {
    font-weight: bold;
}

.listing .item {
    padding-bottom: 40px;
}

.newsletter .checkbox-label {
    color: @c5;
}

h5, p.heading {
    font-size: 18px;
}

nav.sub p.heading a {
    color: @c5;
}

nav.sub p.heading {
    color: @c5;
}

nav.social ul li a {
    display: block;
    float: left;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    background-image: url(/images/icons/social.png);
    background-repeat: no-repeat;
    background-size: 40px auto;
}

nav.social ul li.twitter a {
    background-position: left -40px;
}

nav.social ul li.linkedin a {
    background-position: left -80px;
}

.radio label, .checkbox label {
    padding-left: 0px;
}

.field-validation-valid {
    display: none;
}

.field-validation-error {
    display: block;
    padding: 5px;
    font-size: 12px;
    background-color: #a94442;
    color: #ffffff;
}


nav.sub ul li a {
    font-weight: 900;
    color:@c3;
}

nav.sub.categories p.heading, nav.sub p.heading a {    
    color: @c5;
}

.item-divider {
    box-shadow: inset 1px 4px 9px -7px #6d6d6d;
}

.image-align {
   background-size:cover;
}

.pod-img {
    position: absolute;
    /*top: 3px;*/
    top: 0;
    min-height: 50%;
    min-width: 100%;
    padding: 0;
    left: 0;
    height: 50%;
}

.pod-img img {
    height: 100%;
}

a, .btn, .slick-prev, .slick-next, .listing .item .heading {
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.tab-content a  img {
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.home-pods-hdr {
    font-size:20px;
}







.iframe-align {
    display: block;
    margin: auto;
}

.blog-list-img {
    overflow:hidden;
}



.codeblock iframe, object, embed {
    width: 100%;
}

.contact-img {
    height: 350px;
    width: 100%;
}

.codeblock iframe, object, embed {
    max-width: 100%;
    height: auto;
    min-height: 350px;
}

.codeblock-left {
    padding-left: 0;
    padding-right: 0;
}

.codeblock-right {
    padding-left: 0;
    padding-right: 0;
}

.spc {
    clear:both;
}

.apc.banner .item.takeover, .apc.banner .item.takeover .container, .apc.banner .item.takeover .row {
    height: auto;
    min-height:108vh;
}
.apc.banner .takeover .table-cell {
    padding-right: 0;
    padding-left: 0;
}

body:not(.browser-ios) .parallax .image-align {
    background-attachment: fixed;    
}

.contact-alert {
    background-color: transparent;
    border-color: @c5;
    color:@c5;
}



.grecaptcha-badge {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    width: 70px;
    height: 60px;
    margin: 0 auto;
    box-shadow: 0 0 4px #ddd;
    transition: linear 100ms width;
}

.grecaptcha-badge:hover {
    width: 256px;
}