﻿//----- Palette-----

/* 	--------------------------------------------------
	COLOURS
    -------------------------------------------------- 

/*RWA Brand Colours*/
@c1: #004775; /*dark blue*/
@c2: #666666; /*dark grey*/
@c3: #1D1D1B; /*black*/
@c4: #00CC99; /*green*/
@c5: #ffffff; /*white*/
@c6: #482C78; /*purple*/
@c7: #F89721; /*orange*/
@c8: #00AEEF; /*light blue*/

/*Fonts*/
@prim_fnt_1: 'Arial Bold', Arial;
@heading_fnt: 'Roboto', sans-serif;
@subheading_fnt: 'Arial Regular', Arial;

/*Section Divider*/
@divider_colour: #6D6D6D;


/*@c1:#004775; 
@c2:#cccccc;
@c3:#151515;
@c4:#f4f4f4;
@c5:#ffffff;
@c6:#eeeeee;*/ 