﻿@import "custom-variables.less";

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
}

h1 {
    font-family: @heading_fnt;
    font-size: 25px;
    padding-bottom: 15px;
}

h2 {
    font-family: @subheading_fnt;
}

h3 {
    font-family: @subheading_fnt;
}

h4 {
    font-family: @subheading_fnt;
}

h5 {
    font-family: @subheading_fnt;
}

h6 {
    font-family: @subheading_fnt;
}

p {
    font-family: @prim_fnt_1;
}

.half-wrapper {
    padding-top: 0;
}

.home-pod-overlay {
    position: absolute;
    bottom: 0;
    min-height: 50%;
    min-width: 100%;
    background-color: rgba(0,0,0,0.8);
    padding: 0;
    left: 0;
}

.home_pods_lnk {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    font-family: @heading_fnt;
    color: @c5;
}

.pod-panel {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 323px;
}

.pod-panel-1 {
    padding: 5px 10px 5px 10px;
}

.pod-panel-2 {
    padding: 5px 10px 5px 10px;
}

.pod-panel-3 {
    padding: 5px 10px 5px 10px;
}

.home-pods-hdr {
    margin-top: 0;
    text-transform: uppercase;
}

.box-scale {
    height: auto;
}

.apc {
    padding: 30px 0;
}

.apc .heading.main {
    padding-bottom: 15px;
}


body .apc.c1-bg .spc.textblock {
    color: @c5;
}

body .apc.c2-bg .spc.textblock {
    color: @c5;
}

body .apc.c3-bg .spc.textblock {
    color: @c5;
}

body .apc.c4-bg .spc.textblock {
    color: @c5;
}

body .apc.c5-bg .spc.textblock {
    color: @c3;
}

body .apc.c6-bg .spc.textblock {
    color: @c5;
}

body .apc.c7-bg .spc.textblock {
    color: @c5;
}

body .apc.c8-bg .spc.textblock {
    color: @c5;
}

body .apc.c1-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c5;
}

body .apc.c2-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c5;
}

body .apc.c3-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c5;
}

body .apc.c4-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c5;
}

body .apc.c5-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c3;
}

body .apc.c6-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c5;
}

body .apc.c7-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c5;
}

body .apc.c8-bg .spc.textblock h1, h2, h3, h4, h5, h6, label {
    color: @c5;
}


.first-section {
    /*box-shadow: inset 0 0 0 0 transparent;*/
    padding-bottom: 0;
}


section {
    /*box-shadow: inset 1px 4px 9px -7px #6d6d6d;*/
    margin-top: 30px;
}


.video-container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 10px;
}

.video-align {
    vertical-align: top !important;
    height:100%;
}

.video-base {
    min-height: 550px !important;    
}

.slide-base {    
    min-height: 450px !important;
}

#search_field {
    border: solid 3px fade(@c2,80%);
}

.form-control:focus {
    border-color: fade(@c2,80%);
    box-shadow: 0 0 5px fade(@c2,80%);
}

/*.outer-wrapper {
    height: 50%;    
}*/


/*These body styles added for rich text editor elements*/
.LightBlue {
    color: @c8;
}

.DarkBlue {
    color: @c1;
}

.Orange {
    color: @c7;
}

.Green {
    color: @c4;
}

.Purple {
    color: @c6
}

.Black {
    color: @c3;
}


.c1-bg .std-btn {
    border: solid @c5 5px;
    background-color: @c1;
    color: @c5;
}
.c2-bg .std-btn {
    border: solid @c5 5px;
    background-color: @c2;
    color: @c5;
}
.c3-bg .std-btn {
    border: solid @c5 5px;
    background-color: @c3;
    color: @c5;
}

.c4-bg .std-btn {
    border: solid @c5 5px;
    background-color: @c4;
    color: @c5;
}
.c5-bg .std-btn {
    border: solid @c1 5px;
    background-color: @c5;
    color: @c1;
}

.c6-bg .std-btn {
    border: solid @c5 5px;
    background-color: @c6;
    color: @c5;
}
.c7-bg .std-btn {
    border: solid @c5 5px;
    background-color: @c7;
    color: @c5;
}

.c8-bg .std-btn {
    border: solid @c5 5px;
    background-color: @c8;
    color: @c5;
}

.c1-btn {
    border: solid @c5 5px;
    text-align: center;
    background-color: @c1;
    color:@c5;
}

.c2-btn {
    border: solid @c5 5px;
    text-align: center;
    background-color: @c2;
    color: @c5;
}

.c3-btn {
    border: solid @c5 5px;
    text-align: center;
    background-color: @c3;
    color: @c5;
}

.c4-btn {
    border: solid @c5 5px;
    text-align: center;
    background-color: @c4;
    color: @c5;
}

.c5-btn {
    border: solid @c3 5px;
    text-align: center;
    background-color: @c5;
    color: @c3;
}

.c6-btn {
    border: solid @c5 5px;
    text-align: center;
    background-color: @c6;
    color: @c5;
}

.c7-btn {
    border: solid @c5 5px;
    text-align: center;
    background-color: @c7;
    color: @c5;
}

.c8-btn {
    border: solid @c5 5px;
    text-align: center;
    background-color: @c8;
    color: @c5;
}

.rwa_footer {
    background-color: rgb(109,109,109);
    color: white;
}

.footer-pos {
    padding-top: 0 !important;
    color: white;
}

footer nav.social {
    margin-bottom: 0;
}

#top-link-block a {
    background-color: @c2;
}


.apc .heading.main {
    padding-bottom: 15px;
}

.navigation nav.main {
    background-color: @c5;
}

.nav-block {
    padding-left: 0;
    padding-right: 0;
}

.nav-panel {
    background-color: @c2;
}
.nav-panel-1 {
    -webkit-box-shadow: inset 0px 0px 0px -3px @c1;
    -moz-box-shadow: inset 0px 0px 0px -3px @c1;
    box-shadow: inset 0 -3px 0px @c1;    
}

.nav-panel-2 {
    -webkit-box-shadow: inset 0px 0px 0px -3px @c2;
    -moz-box-shadow: inset 0px 0px 0px -3px @c2;
    box-shadow: inset 0 -3px 0px @c2;
}

.nav-panel-3 {
    -webkit-box-shadow: inset 0px 0px 0px -3px @c3;
    -moz-box-shadow: inset 0px 0px 0px -3px @c3;
    box-shadow: inset 0 -3px 0px @c3;
}

.nav-panel-4 {
    -webkit-box-shadow: inset 0px 0px 0px -3px @c4;
    -moz-box-shadow: inset 0px 0px 0px -3px @c4;
    box-shadow: inset 0 -3px 0px @c4;
}

.nav-panel-5 {
    -webkit-box-shadow: inset 0px 0px 0px -3px @c5;
    -moz-box-shadow: inset 0px 0px 0px -3px @c5;
    box-shadow: inset 0 -3px 0px @c5;
}

.nav-panel-6 {
    -webkit-box-shadow: inset 0px 0px 0px -3px @c6;
    -moz-box-shadow: inset 0px 0px 0px -3px @c6;
    box-shadow: inset 0 -3px 0px @c6;
}

.nav-panel-7 {
    -webkit-box-shadow: inset 0px 0px 0px -3px @c7;
    -moz-box-shadow: inset 0px 0px 0px -3px @c7;
    box-shadow: inset 0 -3px 0px @c7;
}

.nav-panel-8 {
    -webkit-box-shadow: inset 0px 0px 0px -3px @c8;
    -moz-box-shadow: inset 0px 0px 0px -3px @c8;
    box-shadow: inset 0 -3px 0px @c8;
}


.navigation {
    font-family: @heading_fnt;
}
.navigation nav.main {
    background-color: @c5;
}

.navigation nav.top {
    background-color: @c5;
}


.nav-panel {
    background-color: @c2;
    text-transform: uppercase;
}

.nav-item {
    text-transform: uppercase;
}

.navigation nav.top li a {
    color: @c3;
}

.nav-block {
    padding-left: 0;
    padding-right: 0;
}

.navigation {
    font-family: @heading_fnt;
}

header a.expand {
    background-color: @c2;
    top: 15px;
    right: 15px;
}

.inner {
    padding: 15px;
}

.banner  .intro {
    font-size: 120%;
    font-weight: 300;
}

.intro {
    font-size: 120%;
    font-weight: 300;
}



