@import "custom-variables.less";

/* 	--------------------------------------------------
    uSkinned.net

	PALETTE
    -------------------------------------------------- */


/* 	--------------------------------------------------
	TABLE OF CONTENTS
    -------------------------------------------------- 

	1.0 BACKGROUNDS
	2.0 TEXT
	3.0 BORDERS
	4.0 BUTTONS
	
	
	COLOURS 
	
	c1	@c1		237,109,25
	c2	@c2		204,204,204
	c3	@c3		24,24,24
	c4	@c4		244,244,244
	c5 	@c5		255,255,255
	c6  @c6		227,227,227
	
	
*/



/*	--------------------------------------------------
	1.0 BACKGROUNDS
	-------------------------------------------------- */

.c1-bg,
#top-link-block a {
    background-color: @c1;
    background-color: fade(@c1, 100%);
}

.c1-bg.bg-perc_90 {
    background-color: fade(@c1,90%);
}

.c1-bg.bg-perc_80,
html.no-touch .apc.pod-windows .item a.info.c1-bg:hover::before {
    background-color: fade(@c1,80%);
}

.c1-bg.bg-perc_70 {
    background-color: fade(@c1,70%);
}

.c1-bg.bg-perc_60 {
    background-color: fade(@c1,60%);
}

.c1-bg.bg-perc_50,
.apc.banner .item.overlay.c1-bg::before,
.apc.pod-windows .item.overlay .info.c1-bg::before {
    background-color: fade(@c1,50%);
}

.c1-bg.bg-perc_40 {
    background-color: fade(@c1,40%);
}

.c1-bg.bg-perc_30 {
    background-color: fade(@c1,30%);
}

.c1-bg.bg-perc_20 {
    background-color: fade(@c1,20%);
}

.c1-bg.bg-perc_10 {
    background-color: fade(@c1,10%);
}

.c2-bg {
    background-color: @c2;
    background-color: fade(@c2,100%);
}

.c2-bg.bg-perc_90 {
    background-color: fade(@c2,90%);
}

.c2-bg.bg-perc_80,
html.no-touch .apc.pod-windows .item a.info.c2-bg:hover::before {
    background-color: fade(@c2,80%);
}

.c2-bg.bg-perc_70 {
    background-color: fade(@c2,70%);
}

.c2-bg.bg-perc_60 {
    background-color: fade(@c2,60%);
}

.c2-bg.bg-perc_50,
.apc.banner .item.overlay.c2-bg::before,
.apc.pod-windows .item.overlay .info.c2-bg::before {
    background-color: fade(@c2,50%);
}

.c2-bg.bg-perc_40 {
    background-color: fade(@c2,40%);
}

.c2-bg.bg-perc_30 {
    background-color: fade(@c2,30%);
}

.c2-bg.bg-perc_20 {
    background-color: fade(@c2,20%);
}

.c2-bg.bg-perc_10 {
    background-color: fade(@c2,10%);
}

.c3-bg,
.modal-backdrop, .modal-backdrop.in {
    background-color: @c3;
    background-color: fade(@c3,100%);
}

.c3-bg.bg-perc_90 {
    background-color: fade(@c3,90%);
}

.c3-bg.bg-perc_80,
html.no-touch .apc.pod-windows .item a.info.c3-bg:hover::before {
    background-color: fade(@c3,80%);
}

.c3-bg.bg-perc_70 {
    background-color: fade(@c3,70%);
}

.c3-bg.bg-perc_60 {
    background-color: fade(@c3,60%);
}

.c3-bg.bg-perc_50,
.apc.banner .item.overlay.c3-bg::before,
.apc.pod-windows .item.overlay .info.c3-bg::before {
    background-color: fade(@c3,50%);
}

.c3-bg.bg-perc_40 {
    background-color: fade(@c3,40%);
}

.c3-bg.bg-perc_30 {
    background-color: fade(@c3,30%);
}

.c3-bg.bg-perc_20 {
    background-color: fade(@c3,20%);
}

.c3-bg.bg-perc_10 {
    background-color: fade(@c3,10%);
}

.c4-bg,
footer {
    background-color: @c4;
    background-color: fade(@c4,100%);
}

.c4-bg.bg-perc_90 {
    background-color: fade(@c4,90%);
}

.c4-bg.bg-perc_80,
html.no-touch .apc.pod-windows .item a.info.c4-bg:hover::before {
    background-color: fade(@c4,80%);
}

.c4-bg.bg-perc_70 {
    background-color: fade(@c4,70%);
}

.c4-bg.bg-perc_60 {
    background-color: fade(@c4,60%);
}

.c4-bg.bg-perc_50,
.apc.banner .item.overlay.c4-bg::before,
.apc.pod-windows .item.overlay .info.c4-bg::before {
    background-color: fade(@c4,50%);
}

.c4-bg.bg-perc_40 {
    background-color: fade(@c4,40%);
}

.c4-bg.bg-perc_30 {
    background-color: fade(@c4,30%);
}

.c4-bg.bg-perc_20 {
    background-color: fade(@c4,20%);
}

.c4-bg.bg-perc_10 {
    background-color: fade(@c4,10%);
}

.c5-bg, #site, .cookie-notice, .spc.pricing-menu {
    background-color: @c5;
    background-color: fade(@c5,100%);
}

.c5-bg.bg-perc_90 {
    background-color: fade(@c5,90%);
}

.c5-bg.bg-perc_80,
html.no-touch .apc.pod-windows .item a.info.c5-bg:hover::before {
    background-color: fade(@c5,80%);
}

.c5-bg.bg-perc_70 {
    background-color: fade(@c5,70%);
}

.c5-bg.bg-perc_60 {
    background-color: fade(@c5,60%);
}

.c5-bg.bg-perc_50,
.apc.banner .item.overlay.c5-bg::before,
.apc.pod-windows .item.overlay .info.c5-bg::before {
    background-color: fade(@c5,50%);
}

.c5-bg.bg-perc_40 {
    background-color: fade(@c5,40%);
}

.c5-bg.bg-perc_30 {
    background-color: fade(@c5,30%);
}

.c5-bg.bg-perc_20 {
    background-color: fade(@c5,20%);
}

.c5-bg.bg-perc_10 {
    background-color: fade(@c5,10%);
}

.c6-bg {
    background-color: @c6;
    background-color: fade(@c6,100%);
}

.c6-bg.bg-perc_90 {
    background-color: fade(@c6,90%);
}

.c6-bg.bg-perc_80,
html.no-touch .apc.pod-windows .item a.info.c6-bg:hover::before {
    background-color: fade(@c6,80%);
}

.c6-bg.bg-perc_70 {
    background-color: fade(@c6,70%);
}

.c6-bg.bg-perc_60 {
    background-color: fade(@c6,60%);
}

.c6-bg.bg-perc_50,
.apc.banner .item.overlay.c6-bg::before,
.apc.pod-windows .item.overlay .info.c6-bg::before {
    background-color: fade(@c6,50%);
}

.c6-bg.bg-perc_40 {
    background-color: fade(@c6,40%);
}

.c6-bg.bg-perc_30 {
    background-color: fade(@c6,30%);
}

.c6-bg.bg-perc_20 {
    background-color: fade(@c6,20%);
}

.c6-bg.bg-perc_10 {
    background-color: fade(@c6,10%);
}

.c7-bg {
    background-color: @c7;
    background-color: fade(@c7,100%);
}

.c7-bg.bg-perc_90 {
    background-color: fade(@c7,90%);
}

.c7-bg.bg-perc_80,
html.no-touch .apc.pod-windows .item a.info.c7-bg:hover::before {
    background-color: fade(@c7,80%);
}

.c7-bg.bg-perc_70 {
    background-color: fade(@c7,70%);
}

.c7-bg.bg-perc_60 {
    background-color: fade(@c7,60%);
}

.c7-bg.bg-perc_50,
.apc.banner .item.overlay.c7-bg::before,
.apc.pod-windows .item.overlay .info.c7-bg::before {
    background-color: fade(@c7,50%);
}

.c7-bg.bg-perc_40 {
    background-color: fade(@c7,40%);
}

.c7-bg.bg-perc_30 {
    background-color: fade(@c7,30%);
}

.c7-bg.bg-perc_20 {
    background-color: fade(@c7,20%);
}

.c7-bg.bg-perc_10 {
    background-color: fade(@c7,10%);
}

.c8-bg {
    background-color: @c8;
    background-color: fade(@c8,100%);
}

.c8-bg.bg-perc_90 {
    background-color: fade(@c8,90%);
}

.c8-bg.bg-perc_80,
html.no-touch .apc.pod-windows .item a.info.c8-bg:hover::before {
    background-color: fade(@c8,80%);
}

.c8-bg.bg-perc_70 {
    background-color: fade(@c8,70%);
}

.c8-bg.bg-perc_60 {
    background-color: fade(@c8,60%);
}

.c8-bg.bg-perc_50,
.apc.banner .item.overlay.c8-bg::before,
.apc.pod-windows .item.overlay .info.c8-bg::before {
    background-color: fade(@c8,50%);
}

.c8-bg.bg-perc_40 {
    background-color: fade(@c8,40%);
}

.c8-bg.bg-perc_30 {
    background-color: fade(@c8,30%);
}

.c8-bg.bg-perc_20 {
    background-color: fade(@c8,20%);
}

.c8-bg.bg-perc_10 {
    background-color: fade(@c8,10%);
}


/*	--------------------------------------------------
	2.0 TEXT
	-------------------------------------------------- */

body {
    color: #555555;
}

a, a:hover, a:focus, a:active {
    color: @c1;
    color: fade(@c1,100%);
}

.heading, h1, h2, h3, h4, h5, h6, .tables .head {
    color: @c3;
    color: fade(@c3,100%);
}

.c1-bg .text .heading, .c1-bg .text h1, .c1-bg .text h2, .c1-bg .text h3, .c1-bg .text h4, .c1-bg .text h5, .c1-bg .text h6,
.c3-bg .text .heading, .c3-bg .text h1, .c3-bg .text h2, .c3-bg .text h3, .c3-bg .text h4, .c3-bg .text h5, .c3-bg .text h6 {
    color: inherit;
}

.c1-text,
.c1-text:hover, .c1-text:focus, .c1-text:active,
blockquote::before, blockquote::after {
    color: @c1;
    color: fade(@c1,100%);
}

.c1-text.text-perc_90 {
    color: fade(@c1,90%);
}

.c1-text.text-perc_80 {
    color: fade(@c1,80%);
}

.c1-text.text-perc_70 {
    color: fade(@c1,70%);
}

.c1-text.text-perc_60 {
    color: fade(@c1,60%);
}

.c1-text.text-perc_50 {
    color: fade(@c1,50%);
}

.c1-text.text-perc_40 {
    color: fade(@c1,40%);
}

.c1-text.text-perc_30 {
    color: fade(@c1,30%);
}

.c1-text.text-perc_20 {
    color: fade(@c1,20%);
}

.c1-text.text-perc_10 {
    color: fade(@c1,10%);
}

.c2-text,
.c2-text:hover, .c2-text:focus, .c2-text:active {
    color: @c2;
    color: fade(@c2,100%);
}

.c2-text.text-perc_90 {
    color: fade(@c2,90%);
}

.c2-text.text-perc_80 {
    color: fade(@c2,80%);
}

.c2-text.text-perc_70 {
    color: fade(@c2,70%);
}

.c2-text.text-perc_60 {
    color: fade(@c2,60%);
}

.c2-text.text-perc_50 {
    color: fade(@c2,50%);
}

.c2-text.text-perc_40 {
    color: fade(@c2,40%);
}

.c2-text.text-perc_30 {
    color: fade(@c2,30%);
}

.c2-text.text-perc_20 {
    color: fade(@c2,20%);
}

.c2-text.text-perc_10 {
    color: fade(@c2,10%);
}

.c3-text,
.c3-text:hover, .c3-text:focus, .c3-text:active {
    color: @c3;
    color: fade(@c3,100%);
}

.c3-text.text-perc_90 {
    color: fade(@c3,90%);
}

.c3-text.text-perc_80 {
    color: fade(@c3,80%);
}

.c3-text.text-perc_70 {
    color: fade(@c3,70%);
}

.c3-text.text-perc_60 {
    color: fade(@c3,60%);
}

.c3-text.text-perc_50 {
    color: fade(@c3,50%);
}

.c3-text.text-perc_40 {
    color: fade(@c3,40%);
}

.c3-text.text-perc_30 {
    color: fade(@c3,30%);
}

.c3-text.text-perc_20 {
    color: fade(@c3,20%);
}

.c3-text.text-perc_10 {
    color: fade(@c3,10%);
}

.c4-text,
.c4-text:hover, .c4-text:focus, .c4-text:active {
    color: @c4;
    color: fade(@c4,100%);
}

.c4-text.text-perc_90 {
    color: fade(@c4,90%);
}

.c4-text.text-perc_80 {
    color: fade(@c4,80%);
}

.c4-text.text-perc_70 {
    color: fade(@c4,70%);
}

.c4-text.text-perc_60 {
    color: fade(@c4,60%);
}

.c4-text.text-perc_50 {
    color: fade(@c4,50%);
}

.c4-text.text-perc_40 {
    color: fade(@c4,40%);
}

.c4-text.text-perc_30 {
    color: fade(@c4,30%);
}

.c4-text.text-perc_20 {
    color: fade(@c4,20%);
}

.c4-text.text-perc_10 {
    color: fade(@c4,10%);
}

.c5-text,
.c5-text:hover, .c5-text:focus, .c5-text:active,
.c1-bg blockquote, .c3-bg blockquote,
.c1-bg blockquote::before, .c1-bg blockquote::after,
#top-link-block a {
    color: @c5;
    color: fade(@c5,100%);
}

.c5-text.text-perc_90 {
    color: fade(@c5,90%);
}

.c5-text.text-perc_80 {
    color: fade(@c5,80%);
}

.c5-text.text-perc_70 {
    color: fade(@c5,70%);
}

.c5-text.text-perc_660 {
    color: fade(@c5,60%);
}

.c5-text.text-perc_50 {
    color: fade(@c5,50%);
}

.c5-text.text-perc_40 {
    color: fade(@c5,40%);
}

.c5-text.text-perc_30 {
    color: fade(@c5,30%);
}

.c5-text.text-perc_20 {
    color: fade(@c5,20%);
}

.c5-text.text-perc_10 {
    color: fade(@c5,10%);
}

.c6-text {
    color: @c6;
    color: fade(@c6,100%);
}

.c6-text.text-perc_90 {
    color: fade(@c6,90%);
}

.c6-text.text-perc_80 {
    color: fade(@c6,80%);
}

.c6-text.text-perc_70 {
    color: fade(@c6,70%);
}

.c6-text.text-perc_60 {
    color: fade(@c6,60%);
}

.c6-text.text-perc_50 {
    color: fade(@c6,50%);
}

.c6-text.text-perc_40 {
    color: fade(@c6,40%);
}

.c6-text.text-perc_30 {
    color: fade(@c6,30%);
}

.c6-text.text-perc_20 {
    color: fade(@c6,20%);
}

.c6-text.text-perc_10 {
    color: fade(@c6,10%);
}

.c7-text {
    color: @c7;
    color: fade(@c7,100%);
}

.c7-text.text-perc_90 {
    color: fade(@c7,90%);
}

.c7-text.text-perc_80 {
    color: fade(@c7,80%);
}

.c7-text.text-perc_70 {
    color: fade(@c7,70%);
}

.c7-text.text-perc_60 {
    color: fade(@c7,60%);
}

.c7-text.text-perc_50 {
    color: fade(@c7,50%);
}

.c7-text.text-perc_40 {
    color: fade(@c7,40%);
}

.c7-text.text-perc_30 {
    color: fade(@c7,30%);
}

.c7-text.text-perc_20 {
    color: fade(@c7,20%);
}

.c7-text.text-perc_10 {
    color: fade(@c7,10%);
}

.c8-text {
    color: @c8;
    color: fade(@c8,100%);
}

.c8-text.text-perc_90 {
    color: fade(@c8,90%);
}

.c8-text.text-perc_80 {
    color: fade(@c8,80%);
}

.c8-text.text-perc_70 {
    color: fade(@c8,70%);
}

.c8-text.text-perc_60 {
    color: fade(@c8,60%);
}

.c8-text.text-perc_50 {
    color: fade(@c8,50%);
}

.c8-text.text-perc_40 {
    color: fade(@c8,40%);
}

.c8-text.text-perc_30 {
    color: fade(@c8,30%);
}

.c8-text.text-perc_20 {
    color: fade(@c8,20%);
}

.c8-text.text-perc_10 {
    color: fade(@c8,10%);
}



/*	--------------------------------------------------
	3.0 BORDERS
	-------------------------------------------------- */

.c1-borders {
    border-color: @c1;
    border-color: fade(@c1,100%);
}

.c1-borders.borders-perc_90 {
    border-color: fade(@c1,90%);
}

.c1-borders.borders-perc_80 {
    border-color: fade(@c1,80%);
}

.c1-borders.borders-perc_70 {
    border-color: fade(@c1,70%);
}

.c1-borders.borders-perc_60 {
    border-color: fade(@c1,60%);
}

.c1-borders.borders-perc_50 {
    border-color: fade(@c1,50%);
}

.c1-borders.borders-perc_40 {
    border-color: fade(@c1,40%);
}

.c1-borders.borders-perc_30 {
    border-color: fade(@c1,30%);
}

.c1-borders.borders-perc_20 {
    border-color: fade(@c1,20%);
}

.c1-borders.borders-perc_10 {
    border-color: fade(@c1,10%);
}

.c2-borders {
    border-color: @c2;
    border-color: fade(@c2,100%);
}

.c2-borders.borders-perc_90 {
    border-color: fade(@c2,90%);
}

.c2-borders.borders-perc_80 {
    border-color: fade(@c2,80%);
}

.c2-borders.borders-perc_70 {
    border-color: fade(@c2,70%);
}

.c2-borders.borders-perc_60 {
    border-color: fade(@c2,60%);
}

.c2-borders.borders-perc_50 {
    border-color: fade(@c2,50%);
}

.c2-borders.borders-perc_40 {
    border-color: fade(@c2,40%);
}

.c2-borders.borders-perc_30 {
    border-color: fade(@c2,30%);
}

.c2-borders.borders-perc_20 {
    border-color: fade(@c2,20%);
}

.c2-borders.borders-perc_10 {
    border-color: fade(@c2,10%);
}

.c3-borders {
    border-color: @c3;
    border-color: fade(@c3,100%);
}

.c3-borders.borders-perc_90 {
    border-color: fade(@c3,90%);
}

.c3-borders.borders-perc_80 {
    border-color: fade(@c3,80%);
}

.c3-borders.borders-perc_70 {
    border-color: fade(@c3,70%);
}

.c3-borders.borders-perc_60 {
    border-color: fade(@c3,60%);
}

.c3-borders.borders-perc_50 {
    border-color: fade(@c3,50%);
}

.c3-borders.borders-perc_40 {
    border-color: fade(@c3,40%);
}

.c3-borders.borders-perc_30 {
    border-color: fade(@c3,30%);
}

.c3-borders.borders-perc_20 {
    border-color: fade(@c3,20%);
}

.c3-borders.borders-perc_10 {
    border-color: fade(@c3,10%);
}

.c4-borders {
    border-color: @c4;
    border-color: fade(@c4,100%);
}

.c4-borders.borders-perc_90 {
    border-color: fade(@c4,90%);
}

.c4-borders.borders-perc_80 {
    border-color: fade(@c4,80%);
}

.c4-borders.borders-perc_70 {
    border-color: fade(@c4,70%);
}

.c4-borders.borders-perc_60 {
    border-color: fade(@c4,60%);
}

.c4-borders.borders-perc_50 {
    border-color: fade(@c4,50%);
}

.c4-borders.borders-perc_40 {
    border-color: fade(@c4,40%);
}

.c4-borders.borders-perc_30 {
    border-color: fade(@c4,30%);
}

.c4-borders.borders-perc_20 {
    border-color: fade(@c4,20%);
}

.c4-borders.borders-perc_10 {
    border-color: fade(@c4,10%);
}

.c5-borders {
    border-color: @c5;
    border-color: fade(@c5,100%);
}

.c5-borders.borders-perc_90 {
    border-color: fade(@c5,90%);
}

.c5-borders.borders-perc_80 {
    border-color: fade(@c5,80%);
}

.c5-borders.borders-perc_70 {
    border-color: fade(@c5,70%);
}

.c5-borders.borders-perc_60 {
    border-color: fade(@c5,60%);
}

.c5-borders.borders-perc_50 {
    border-color: fade(@c5,50%);
}

.c5-borders.borders-perc_40 {
    border-color: fade(@c5,40%);
}

.c5-borders.borders-perc_30 {
    border-color: fade(@c5,30%);
}

.c5-borders.borders-perc_20 {
    border-color: fade(@c5,20%);
}

.c5-borders.borders-perc_10 {
    border-color: fade(@c5,10%);
}

.c6-borders {
    border-color: @c6;
    border-color: fade(@c6,100%);
}

.c6-borders.borders-perc_90 {
    border-color: fade(@c6,90%);
}

.c6-borders.borders-perc_80 {
    border-color: fade(@c6,80%);
}

.c6-borders.borders-perc_70 {
    border-color: fade(@c6,70%);
}

.c6-borders.borders-perc_60 {
    border-color: fade(@c6,60%);
}

.c6-borders.borders-perc_50 {
    border-color: fade(@c6,50%);
}

.c6-borders.borders-perc_40 {
    border-color: fade(@c6,40%);
}

.c6-borders.borders-perc_30 {
    border-color: fade(@c6,30%);
}

.c6-borders.borders-perc_20 {
    border-color: fade(@c6,20%);
}

.c6-borders.borders-perc_10 {
    border-color: fade(@c6,10%);
}

.c7-borders {
    border-color: @c7;
    border-color: fade(@c7,100%);
}

.c7-borders.borders-perc_90 {
    border-color: fade(@c7,90%);
}

.c7-borders.borders-perc_80 {
    border-color: fade(@c7,80%);
}

.c7-borders.borders-perc_70 {
    border-color: fade(@c7,70%);
}

.c7-borders.borders-perc_60 {
    border-color: fade(@c7,60%);
}

.c7-borders.borders-perc_50 {
    border-color: fade(@c7,50%);
}

.c7-borders.borders-perc_40 {
    border-color: fade(@c7,40%);
}

.c7-borders.borders-perc_30 {
    border-color: fade(@c7,30%);
}

.c7-borders.borders-perc_20 {
    border-color: fade(@c7,20%);
}

.c7-borders.borders-perc_10 {
    border-color: fade(@c7,10%);
}

.c8-borders {
    border-color: @c8;
    border-color: fade(@c8,100%);
}

.c8-borders.borders-perc_90 {
    border-color: fade(@c8,90%);
}

.c8-borders.borders-perc_80 {
    border-color: fade(@c8,80%);
}

.c8-borders.borders-perc_70 {
    border-color: fade(@c8,70%);
}

.c8-borders.borders-perc_60 {
    border-color: fade(@c8,60%);
}

.c8-borders.borders-perc_50 {
    border-color: fade(@c8,50%);
}

.c8-borders.borders-perc_40 {
    border-color: fade(@c8,40%);
}

.c8-borders.borders-perc_30 {
    border-color: fade(@c8,30%);
}

.c8-borders.borders-perc_20 {
    border-color: fade(@c8,20%);
}

.c8-borders.borders-perc_10 {
    border-color: fade(@c8,10%);
}


/*	--------------------------------------------------
	4.0 BUTTONS
	-------------------------------------------------- */

.btn.c1-bg:hover, .btn.c1-bg:active, .btn.c1-bg:focus {
    background-color: fade(@c1,80%);
}

.btn.c2-bg:hover, .btn.c2-bg:active, .btn.c2-bg:focus {
    background-color: fade(@c2,80%);
}

.btn.c3-bg:hover, .btn.c3-bg:active, .btn.c3-bg:focus {
    background-color: fade(@c3,80%);
}

.btn.c4-bg:hover, .btn.c4-bg:active, .btn.c4-bg:focus {
    background-color: fade(@c4,80%);
}

.btn.c5-bg:hover, .btn.c5-bg:active, .btn.c5-bg:focus {
    background-color: fade(@c5,80%);
}

.btn.c6-bg:hover, .btn.c6-bg:active, .btn.c6-bg:focus {
    background-color: fade(@c6,80%);
}

.btn.c7-bg:hover, .btn.c7-bg:active, .btn.c7-bg:focus {
    background-color: fade(@c7,80%);
}

.btn.c8-bg:hover, .btn.c8-bg:active, .btn.c8-bg:focus {
    background-color: fade(@c8,80%);
}



/*	--------------------------------------------------
	5.0 LINKS
	-------------------------------------------------- */

.link.text-uppercase .c1-borders:hover, .link.text-uppercase .btn.c1-borders:active, .link.text-uppercase .btn.c1-borders:focus,
.link.text-uppercase .c2-borders:hover, .link.text-uppercase .btn.c2-borders:active, .link.text-uppercase .btn.c2-borders:focus,
.link.text-uppercase .c4-borders:hover, .link.text-uppercase .btn.c4-borders:active, .link.text-uppercase .btn.c4-borders:focus,
.link.text-uppercase .c5-borders:hover, .link.text-uppercase .btn.c5-borders:active, .link.text-uppercase .btn.c5-borders:focus {
    border-color: @c3;
    border-color: fade(@c3,100%);
}

.link.text-uppercase .c3-borders:hover, .link.text-uppercase .btn.c3-borders:active, .link.text-uppercase .btn.c3-borders:focus {
    border-color: @c3;
    border-color: fade(@c3,100%);
}



/*	--------------------------------------------------
	END
	-------------------------------------------------- */


