﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    IPublishedContent homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.Where(x => x.IsDocumentType("USNGlobalSettings")).First();


    if (globalSettings.HasValue("websiteLogo") && Umbraco.TypedMedia(globalSettings.GetProperty("websiteLogo").Value) != null)
    {
        var websiteLogo = Umbraco.TypedMedia(globalSettings.GetProperty("websiteLogo").Value);

        int originalWidth = websiteLogo.GetPropertyValue<int>("umbracoWidth");
        int originalHeight = websiteLogo.GetPropertyValue<int>("umbracoHeight");
        int smallWidth = originalWidth;
        int smallHeight = originalHeight;

        //int originalWidth = Convert.ToInt32(websiteLogo.UmbracoWidth);
        //int originalHeight = Convert.ToInt32(websiteLogo.UmbracoHeight);


        //int smallWidth = originalWidth;
        //int smallHeight = originalHeight;

        //768px+
        var mdWidth = Convert.ToDouble(smallWidth) * 1.5;
        var mdHeight = Convert.ToDouble(smallHeight) * 1.5;

        //992px+
        var lgWidth = Convert.ToDouble(smallWidth) * 1.5;
        var lgHeight = Convert.ToDouble(smallHeight) * 1.5;

        //1200px+
        var xlWidth = Convert.ToDouble(smallWidth) * 2;
        var xlHeight = Convert.ToDouble(smallHeight) * 2;


        if (originalHeight > 60)
        {
            //get new width
            smallWidth = (75 * originalWidth) / originalHeight;
            smallHeight = 75;

            mdWidth = Convert.ToDouble(smallWidth);
            mdHeight = Convert.ToDouble(smallHeight);

            lgWidth = Convert.ToDouble(smallWidth) * 1.75;
            lgHeight = Convert.ToDouble(smallHeight) * 1.75;

            xlWidth = Convert.ToDouble(smallWidth) * 2;
            xlHeight = Convert.ToDouble(smallHeight) * 2;
        }

        string smallLogo = websiteLogo.Url + "?width=" + smallWidth + "&height=" + smallHeight;

        <style>
        header #logo {
	        width: @Html.Raw(smallWidth)px;
            height: @Html.Raw(smallHeight)px;
	    }

        header #logo a {
            width: @Html.Raw(smallWidth)px;
            height: @Html.Raw(smallHeight)px;
            background-image: url('@smallLogo');
            background-repeat:no-repeat; background-position:center;
        }

             @@media (min-width: 768px) {
          header #logo {
	        width: @Html.Raw(mdWidth)px;
            height: @Html.Raw(mdHeight)px;
	    }
            header #logo a {
         width: @Html.Raw(mdWidth)px;
            height: @Html.Raw(mdHeight)px;
                background-image: url('@websiteLogo.Url');
         background-size: @Html.Raw(mdWidth)px @Html.Raw(mdHeight)px;
            }
        }


                @@media (min-width: 992px) {
          header #logo {
	        width: @Html.Raw(lgWidth)px;
            height: @Html.Raw(lgHeight)px;
	    }
            header #logo a {
         width: @Html.Raw(lgWidth)px;
            height: @Html.Raw(lgHeight)px;
                background-image: url('@websiteLogo.Url');
         background-size: @Html.Raw(lgWidth)px @Html.Raw(lgHeight)px;
            }
        }


           @@media (min-width: 1200px) {
          header #logo {
	        width: @Html.Raw(xlWidth)px;
            height: @Html.Raw(xlHeight)px;
	    }
            header #logo a {
         width: @Html.Raw(xlWidth)px;
            height: @Html.Raw(xlHeight)px;
                background-image: url('@websiteLogo.Url');
         background-size: @Html.Raw(xlWidth)px @Html.Raw(xlHeight)px;
            }
        }

        </style>
    }
}