﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "USNMaster.cshtml";
}

@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", @Model.Content)	


<!-- CONTENT -->
<section class="content apc standard-components c4-bg">
    <div class="container">

        <!-- ROW -->
        <div class="row">

            <!-- MID COL -->
            <div id="mid-col" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

                <!-- META -->
				<div class="content-area inner c5-bg">
                @Html.Partial("USNBlog/USN_BlogMeta", @Model.Content)
				</div>
                <!--// META -->

                <!-- AUTHOR BIO -->
                <div class="content-area inner c5-bg margin-top">
                @Html.Partial("USNBlog/USN_BlogAuthorship", @Model.Content)
				</div>
                <!--// AUTHOR BIO -->

                <!-- PAGINATION  -->
                @Html.Partial("USNBlog/USN_BlogPostPreviousNext", @Model.Content)
                <!--// PAGINATION -->

                <!-- COMMENTS -->
                @Html.Partial("USNBlog/USN_BlogComments", @Model.Content)
                <!--// COMMENTS -->

            </div>
            <!--// MID COL -->

        </div>
        <!--// ROW -->

    </div>
</section>
<!--// CONTENT -->
	
@section BodyTag{@if (Model.Content.Children.Where(x => x.IsDocumentType("USNAdvancedPageComponents")).First().FirstChild() != null && Model.Content.Children.Where(x => x.IsDocumentType("USNAdvancedPageComponents")).First().FirstChild().IsDocumentType("USN_AC_BannerSection_AN")){@Html.Raw(" class=\"advanced-page banner-top\"")}else{@Html.Raw(" class=\"advanced-page\"")}}