﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "USNMaster.cshtml";
}

@Html.Partial("USNMiscPageElements/USN_HeaderImageSection", @Model.Content)

<!-- CONTENT -->
<section class="content">

    <!-- CONTAINER -->
    <div class="container">

        @Html.Partial("USNMiscPageElements/USN_StandardPageTitle", @Model.Content)

        <!-- ROW -->
        <div class="row">

            <!-- CONTENT COL -->
            <div @Html.Partial("USNLayout/USN_ContentColumnStyle", @Model.Content)>
                @Html.Partial("USNBlog/USN_BlogListing", @Model.Content)
            </div>
        
            <!--// CONTENT COL -->            
                @Html.Partial("USNLayout/USN_PodAndNavColumn", @Model.Content)
         

        </div>
        <!--// ROW -->

    </div>
    <!--// CONTAINER -->

</section>	
<!--// CONTENT -->

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model.Content, new ViewDataDictionary { { "podstyle", "horizontal" } })

@section BodyTag{@if (!Model.Content.GetPropertyValue<bool>("displayHeaderImageSection")){@Html.Raw(" class=\"standard-page\"")}else{@Html.Raw(" class=\"standard-page banner-top\"")}}

@section FooterScripts
{
    @Html.Partial("USNBlog/USN_BlogDisqusCommentCountScript", @Model.Content)
}
