﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content='@Umbraco.Field("metaDescription")'>
    @Html.Partial("USNWebsiteHeadSection/USN_SEOPageHead", @Model.Content)

    <!-- WEB FONT -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">  

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="~/css/styles.css?ver=1.1" />
 
	
    <!-- INTERNAL STYLES -->
    @Html.Partial("USNWebsiteHeadSection/USN_InternalStyles", @Model.Content)

    <!-- SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/application.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script type="text/javascript">
        (function ($) {
            $.validator.unobtrusive.adapters.addBool("booleanrequired", "required");
        }(jQuery));
    </script>

	<!--[if IE]>
	<link rel="stylesheet" href="/css/ie.css">
	<![endif]-->

	
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ICONS -->
    @Html.Partial("USNWebsiteHeadSection/USN_Icons", @Model.Content)

    @RenderSection("Head", false)

    @Html.Partial("USNWebsiteHeadSection/USN_HeaderScripts", @Model.Content)
   

    <script>
        $(document).ready(function () {
            $('[type="submit"]').click(function (e) {
                var recaptchaResponse = grecaptcha.getResponse();

                if (recaptchaResponse == "") {
                    alert("Please verify that you are human by ticking the 'I'm not a robot' checkbox")
                }
            });
        });
    </script>

</head>
<body class="fixed-width" @RenderSection("BodyTag", false) >
     
    <!-- SITE -->
    <div id="site">

        <header>
        <div class="container-fluid">
            <!-- ROW -->
            <div class="row">
                <!-- LOGO -->
                @Html.Partial("USNWebsiteHeadSection/USN_WebsiteLogo", @Model.Content)
                <!--// LOGO -->
                <!-- EXPAND -->
                <a class="expand">
                    <em>Menu</em>
                    <span class="line top"></span>
                    <span class="line mid"></span>
                    <span class="line bottom"></span>
                </a>
                <!--// EXPAND -->
                <!-- NAVIGATION -->
                <div class="navigation">

                    <!-- REVEAL -->
                    <div class="reveal">

                        <div class="lg-top-nav">
                            @Html.Partial("USNNavigation/USN_TopNavigation", @Model.Content)
                        </div>
                        

                        @Html.Partial("USNNavigation/USN_MainNavigation", @Model.Content)


                        <div class="mob-top-nav">
                            <div class="col-xs-12">
                                @Html.Partial("USNNavigation/USN_TopNavigation", @Model.Content)
                            </div>
                            
                        </div>

                    </div>
                    <!--// REVEAL -->
                </div>
                <!--// NAVIGATION -->
            </div>
            <!--// ROW -->
        </div>
        </header>




        @*<div id="content">*@
            <!--// HEADER -->
            @RenderBody()

            <!-- OUTRO STRIP -->
            @Html.Partial("USNMiscPageElements/USN_OutroStripSection", @Model.Content)
            <!--// OUTRO STRIP -->
            <!-- BREADCRUMB -->
            @*@Html.Partial("USNNavigation/USN_Breadcrumb", @Model.Content)*@
            <!--// BREADCRUMB -->

        @*</div>*@

  
        <!-- FOOTER -->
        @*<footer class="c3-bg">
            <div class="container">

                <!-- ROW -->
                <div class="row">

                    <div class="col-md-4 col-xs-12">

                        @Html.Partial("USNNavigation/USN_FooterQuickLinks", @Model.Content)

                    </div>

                    <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-12">

                        <!-- COMPANY DETAILS -->
                        @Html.Partial("USNWebsiteFooterSection/USN_FooterContactInformation", @Model.Content)
                        <!--// COMPANY DETAILS -->

                    </div>

                    <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-6 col-xs-12">

                        @Html.Partial("USNWebsiteFooterSection/USN_FooterSocialLinks", @Model.Content)

                    </div>

                </div>
                <!--// ROW -->
                <!-- ROW -->
                <div class="row">

                    <div class="col-sm-12">

                        <nav class="footer">
                            <ul>
                                <li class="copyright"><div>&copy; @DateTime.Now.ToString("yyyy")</div></li>
                                @Html.Partial("USNNavigation/USN_FooterNavigation", @Model.Content)
                                <li class="site_credit pull-right">
                                    <div>built by</div>
                                    <a target="_blank" title="Link will open in a new window/tab" href="http://www.kumquatcomputing.co.uk"><span>Kumquat Computing</span></a>
                                </li>
                            </ul>
                        </nav>

                    </div>

                </div>
                <!--// ROW -->

            </div>
        </footer>*@

        <footer class="rwa_footer">
            <div class="container">
         
                <!-- ROW -->
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        @Html.Partial("USNWebsiteFooterSection/USN_FooterSocialLinks", @Model.Content)
                    </div>
                    <div class="col-md-9 col-md-offset-1 col-xs-12">
                        <nav class="footer footer-pos text-right">
                            <ul>
                                <li class="copyright"><div>&copy; @DateTime.Now.ToString("yyyy")</div></li>

                                <li class="site-credit pull-right">
                                    @*@Html.Partial("USNNavigation/USN_FooterNavigation", Model)*@
                                    @Html.Partial("USNNavigation/USN_FooterNavigation", @Model.Content)
                                    <div class="nav-item credit-pos">
                                        BUILT BY
                                        <a target="_blank" title="Link will open in a new window/tab" href="http://kumquatcomputing.co.uk/" class="link company-link">
                                            <span>KUMQUAT COMPUTING</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--// ROW -->
            </div>
        </footer>


        <!--// FOOTER -->
        <!-- BACK TO TOP -->
        <span id="top-link-block" class="c1-bg c5-text">
            <a href="#top" class="c1-bg c5-text" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
                <i class="ion-chevron-up"></i>
            </a>
        </span>
        <!--// BACK TO TOP -->

    </div>
    <!--// SITE -->
    @RenderSection("FooterScripts", false)
    @Html.Partial("USNWebsiteFooterSection/USN_FooterScripts", @Model.Content)
    
    @*<script src="~/Scripts/section.divider.js"></script>*@
    
</body>
</html>