﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "USNMaster.cshtml";

    if (CurrentPage.Name == "Page not found")
    {
        Response.Status = "404 Not Found";
        Response.StatusCode = 404;
    }
}
 
@Html.Partial("USNMiscPageElements/USN_HeaderImageSection", @Model.Content)

<!-- CONTENT -->
<section class="content c5-bg">

    <!-- CONTAINER -->
    <div class="container">

        @Html.Partial("USNMiscPageElements/USN_StandardPageTitle", @Model.Content)

        <!-- ROW -->
        <div class="row">

            <!-- CONTENT COL -->
            <div @Html.Partial("USNLayout/USN_ContentColumnStyle", @Model.Content)>

                <div class="content-area inner c5-bg">

                    <!-- IMAGE -->
                    @Html.Partial("USNMiscPageElements/USN_MainImage", @Model.Content)
                    <!--// IMAGE -->
                    @Umbraco.Field("bodyText")

                    @Html.Partial("USNNavigation/USN_Sitemap", @Model.Content)

                </div>

            </div>
            <!--// CONTENT COL -->
            @Html.Partial("USNLayout/USN_PodAndNavColumn", @Model.Content)

        </div>
        <!--// ROW -->

    </div>
    <!--// CONTAINER -->

</section>	
<!--// CONTENT -->

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model.Content, new ViewDataDictionary { { "podstyle", "horizontal" } })
		
@section BodyTag{@if (!Model.Content.GetPropertyValue<bool>("displayHeaderImageSection")){@Html.Raw(" class=\"standard-page\"")}else{@Html.Raw(" class=\"standard-page banner-top\"")}}