﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "USNMaster.cshtml";
}

@Html.Partial("USNMiscPageElements/USN_HeaderImageSection", @Model.Content)

<!-- CONTENT -->
<section class="content">

    <!-- CONTAINER -->
    <div class="container">

        @Html.Partial("USNMiscPageElements/USN_StandardPageTitle", @Model.Content)

        <!-- ROW -->
        <div class="row">

            <!-- CONTENT COL -->
            <div @Html.Partial("USNLayout/USN_ContentColumnStyle", @Model.Content)>

                <div class="content-area inner">

                    <!-- IMAGE -->
                    @Html.Partial("USNMiscPageElements/USN_MainImage", @Model.Content)
                    <!--// IMAGE -->
                    @Umbraco.Field("bodyText")

                    @Html.Partial("USNStandardPageComponents/USN_StandardPageComponents", @Model.Content)

                </div>

                @Html.Partial("USNListings/USN_SubpageListing", @Model.Content)

            </div>
            <!--// CONTENT COL -->
            @Html.Partial("USNLayout/USN_PodAndNavColumn", @Model.Content)

        </div>
        <!--// ROW -->

    </div>
    <!--// CONTAINER -->

</section>
<!--// CONTENT -->

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model.Content, new ViewDataDictionary { { "podstyle", "horizontal" } })

@section BodyTag{@if (!Model.Content.GetPropertyValue<bool>("displayHeaderImageSection")){@Html.Raw(" class=\"standard-page\"")}else{@Html.Raw(" class=\"standard-page banner-top\"")}}