﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "USNMaster.cshtml";
}

@Html.Partial("USNMiscPageElements/USN_HeaderImageSection", @Model.Content)

<!-- CONTENT -->
<section class="content c5-bg">

    <!-- CONTAINER -->
    <div class="container">

        @Html.Partial("USNMiscPageElements/USN_StandardPageTitle", @Model.Content)

        <!-- ROW -->
        <div class="row">

            <!-- CONTENT COL -->
            <div @Html.Partial("USNLayout/USN_ContentColumnStyle", @Model.Content)>

                @if ((Model.Content.HasValue("mainImage") && Umbraco.TypedMedia(Model.Content.GetProperty("mainImage").Value) != null) || Model.Content.HasValue("bodyText"))
                {
                <div class="content-area inner c5-bg">

                    <!-- IMAGE -->
                    @Html.Partial("USNMiscPageElements/USN_MainImage", @Model.Content)
                    <!--// IMAGE -->
                    @Umbraco.Field("bodyText")

                </div>
                }

                @Html.Partial("USNListings/USN_SearchResults", @Model.Content)

                

            </div>
            <!--// CONTENT COL -->
            @Html.Partial("USNLayout/USN_PodAndNavColumn", @Model.Content)

        </div>
        <!--// ROW -->

    </div>
    <!--// CONTAINER -->

</section>	
<!--// CONTENT -->

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model.Content, new ViewDataDictionary { { "podstyle", "horizontal" } })
		
@section BodyTag{@if (!Model.Content.GetPropertyValue<bool>("displayHeaderImageSection")){@Html.Raw(" class=\"standard-page\"")}else{@Html.Raw(" class=\"standard-page banner-top\"")}}