﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "USNMaster.cshtml";
}

@Html.Partial("USNMiscPageElements/USN_HeaderImageSection", @Model.Content)

<!-- CONTENT -->
<section class="content">
    <!-- CONTAINER -->
    <div class="container">

        @Html.Partial("USNMiscPageElements/USN_StandardPageTitle", @Model.Content)

        <!-- ROW -->
        <div class="row">

            <!-- CONTENT COL -->
            <div @Html.Partial("USNLayout/USN_ContentColumnStyle", @Model.Content)>

               <div class="content-area inner c5-bg">

                    <!-- IMAGE -->
                    @Html.Partial("USNMiscPageElements/USN_MainImage", @Model.Content)
                    <!--// IMAGE -->
                    @Umbraco.Field("bodyText")


                    @Html.Partial("USNStandardPageComponents/USN_StandardPageComponents", @Model.Content)

				   <!-- AddToAny BEGIN -->
						<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
						<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
						<a class="a2a_button_twitter"></a>
						<a class="a2a_button_facebook"></a>
						<a class="a2a_button_google_plus"></a>
						<a class="a2a_button_linkedin"></a>
						</div>
						<script async src="https://static.addtoany.com/menu/page.js"></script>
						<!-- AddToAny END -->
				   
                </div>

                <!-- META -->
				<div class="content-area inner c5-bg">
                @Html.Partial("USNBlog/USN_BlogMeta", @Model.Content)
				</div>
                <!--// META -->

                <!-- AUTHOR BIO -->
                <div class="content-area inner c5-bg margin-top">
                @Html.Partial("USNBlog/USN_BlogAuthorship", @Model.Content)
				</div>
                <!--// AUTHOR BIO -->

                <!-- PAGINATION  -->
                @Html.Partial("USNBlog/USN_BlogPostPreviousNext", @Model.Content)
                <!--// PAGINATION -->

                <!-- COMMENTS -->
                @Html.Partial("USNBlog/USN_BlogComments", @Model.Content)
                <!--// COMMENTS -->

            </div>
            <!--// CONTENT COL -->
            @Html.Partial("USNLayout/USN_PodAndNavColumn", @Model.Content)

        </div>
        <!--// ROW -->
    </div>
    <!--// CONTAINER -->
</section>	
<!--// CONTENT -->

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model.Content, new ViewDataDictionary { { "podstyle", "horizontal" } })
		
@section BodyTag{@if (!Model.Content.GetPropertyValue<bool>("displayHeaderImageSection")){@Html.Raw(" class=\"standard-page\"")}else{@Html.Raw(" class=\"standard-page banner-top\"")}}

@section FooterScripts
{
    @Html.Partial("USNBlog/USN_BlogDisqusCommentCountScript", @Model.Content)
}
