﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    if (!Model.Content.GetPropertyValue<Boolean>("displayHeaderImageSection"))
    {
        if (Model.Content.IsDocumentType("USNBlogLandingPage"))
        {
            <!-- ROW -->
            <div class="row heading-area">
                <div class="col-xs-12">
                @{
                    string catID = Request.QueryString["category"];

                    if (String.IsNullOrEmpty(catID))
                    {
                
                        <h1 class="heading main" itemprop="headline"><span class="line c3-border">@Umbraco.Field("onPageTitle", altFieldAlias: "pageName")</span></h1>
                    }
                    else
                    {
                        var catPage = Umbraco.TypedContent(Convert.ToInt32(catID));
                        if (catPage.HasValue("categoryPageTitle"))
                        {
                            <h1 class="heading main" itemprop="headline"><span class="line c3-border">@catPage.GetProperty("categoryPageTitle").Value</span></h1>
                        }
                        else
                        {
                            <h1 class="heading main" itemprop="headline"><span class="line c3-border">@catPage.Name</span></h1>
                        }
                    }
                }
                </div>  
            </div>
        }
        else
        {
            <!-- ROW -->
            <div class="row heading-area">

                <div class="col-xs-12">
                    <h1 class="heading main" itemprop="headline"><span class="line c3-border">@Umbraco.Field("onPageTitle", altFieldAlias: "pageName")</span></h1>
                </div>	
            </div>
	        <!--// ROW -->
        }
    }

}
