﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using USN.UrlPicker.Umbraco.Models;
@using USN.Heading.Umbraco.Models;
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;

@{
    IPublishedContent homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.Where(x => x.IsDocumentType("USNGlobalSettings")).First();
    USNTemplateStyleSettings pageSettings = USNViewTemplateHelper.GetTemplateStyleSettings(globalSettings.GetPropertyValue("outroDefaultBackgroundColor").ToString(), globalSettings.GetPropertyValue("outroDefaultButtonColor").ToString());

    string headingSource = String.Empty;
    string text = String.Empty;
    string backgroundColor = String.Empty;
    string buttonColor = String.Empty;
    string animateClass = String.Empty;
    IPublishedContent section;

    LinkInfo outroLink;

    if(!Model.Content.GetPropertyValue<Boolean>("hideOutroStripSection"))
    {
        section = Model.Content;
        if (Model.Content.GetPropertyValue<Boolean>("overrideDefaultOutroStripSection"))
        {
            outroLink = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromUrlPicker(Model.Content.GetPropertyValue<UrlPicker>("outroLink"));

            if (Model.Content.HasValue("outroHeading"))
            {
                var heading = Model.Content.GetPropertyValue<USNHeading>("outroHeading");

                if (heading != null && !String.IsNullOrEmpty(heading.Heading))
                {
                    headingSource = "<" + heading.HeadingStyle + " class=\"heading main {0} {1}\" data-os-animation=\"fadeInUp\" data-os-animation-delay=\"0.1s\"><span class=\"line\">" + heading.Heading + "</span></" + heading.HeadingStyle + ">";
                }
            }

            if (Model.Content.HasValue("outroText"))
            {
                text = Model.Content.GetProperty("outroText").Value.ToString();
            }

            if (Model.Content.HasValue("outroBackgroundColor"))
            {
                backgroundColor = Model.Content.GetProperty("outroBackgroundColor").Value.ToString();
            }

            if (Model.Content.HasValue("outroButtonColor"))
            {
                buttonColor = Model.Content.GetProperty("outroButtonColor").Value.ToString();
            }

            if (Model.Content.GetPropertyValue<bool>("outroAnimate"))
            {
                animateClass = "os-animation";
            }
        }
        else
        {
            outroLink = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromUrlPicker(globalSettings.GetPropertyValue<UrlPicker>("outroDefaultLink"));
            section = globalSettings;

            if (globalSettings.HasValue("outroDefaultHeading"))
            {
                var heading = globalSettings.GetPropertyValue<USNHeading>("outroDefaultHeading");

                if (heading != null && !String.IsNullOrEmpty(heading.Heading))
                {
                    headingSource = "<" + heading.HeadingStyle + " class=\"heading main {0} {1}\" data-os-animation=\"fadeInUp\" data-os-animation-delay=\"0.1s\"><span class=\"line\">" + heading.Heading + "</span></" + heading.HeadingStyle + ">";
                }
            }

            if (globalSettings.HasValue("outroDefaultText"))
            {
                text = globalSettings.GetProperty("outroDefaultText").Value.ToString();
            }

            if (globalSettings.HasValue("outroDefaultBackgroundColor"))
            {
                backgroundColor = globalSettings.GetProperty("outroDefaultBackgroundColor").Value.ToString();
            }

            if (globalSettings.HasValue("outroDefaultButtonColor"))
            {
                buttonColor = globalSettings.GetProperty("outroDefaultButtonColor").Value.ToString();
            }

            if (globalSettings.GetPropertyValue<bool>("outroDefaultAnimate"))
            {
                animateClass = "os-animation";
            }
        }

        if (outroLink != null || text != String.Empty || headingSource != String.Empty)
        {
        <section class="content apc cta-strip " style="clear:both;">
            <div class="apc @pageSettings.BackGroundStyle">
                <div class="container">

                    @if (headingSource != String.Empty)
                    {
                <!-- ROW -->
                        <div class="row short-margin-bottom">

                            <div class="col-md-8 col-xs-12">

                                @Html.Raw(String.Format(headingSource, pageSettings.HeadingStyle, animateClass))

                            </div>

                        </div>
                <!--// ROW -->
                    }

                    <!-- ROW -->
                    <div class="row @animateClass" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
                        @if (text != String.Empty)
                        {
                            <div class="col-md-12 col-xs-12">
                                <div class="text @pageSettings.TextStyle">
                                    @Html.Raw(text)
                                </div>
                            </div>
                        }
                        @*@if (outroLink != null)
                {
                    <div class="col-md-3 col-md-offset-1 col-xs-12">

                        <p class="link @animateClass"><a class="btn btn-block btn-borders @pageSettings.ButtonStyle" href="@outroLink.LinkURL" @Html.Raw(outroLink.LinkTarget) @Html.Raw(outroLink.LinkTitle)>@outroLink.LinkCaption@Html.Raw(outroLink.LinkIcon)</a></p>
                    </div>
                }*@

                    </div>
                    <!--// ROW -->

                    <div class="spc forms" id="pos_@Html.Raw(section.Id)">
                        @*<p>@Html.Raw(section.Id)</p>*@
                        @Html.Action("Index", "USNNewsletterSignupSurface", new { NodeID = Model.Content.Id, ActualPageID = Model.Content.Id })                       
                    </div>


                </div>
            </div>
      
        </section>
        }
    }
}