﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<USN.Models.USNContactFormViewModel>
@using USN.Heading.Umbraco.Models;
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;
@using Recaptcha.Web.Mvc;

@using (Ajax.BeginForm("HandleContactSubmit", "USNContactFormSurface", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ContactFormContainer" + Model.CurrentNodeID,
    LoadingElementId = "ContactAjaxLoading" + Model.CurrentNodeID
}))
{
    var currentNode = Umbraco.TypedContent(Model.CurrentNodeID);

    IPublishedContent homeNode = currentNode.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.Where(x => x.IsDocumentType("USNGlobalSettings")).First();
    //USNTemplateStyleSettings pageSettings = USNViewTemplateHelper.GetTemplateStyleSettings(currentNode.GetPropertyValue("backgroundColor").ToString(), currentNode.GetPropertyValue("buttonColor").ToString());
    USNTemplateStyleSettings pageSettings = USNViewTemplateHelper.GetTemplateStyleSettings(currentNode.GetPropertyValue("backgroundColor").ToString());

    var containerID = "ContactFormContainer" + Model.CurrentNodeID;
    var ajaxLoadingID = "ContactAjaxLoading" + Model.CurrentNodeID;
    var errorID = "ContactError" + Model.CurrentNodeID;


    @Html.Hidden("CurrentNodeID", Model.CurrentNodeID)
    @Html.AntiForgeryToken()

    if (currentNode.Parent.Parent.IsDocumentType("USNHomepage") || currentNode.Parent.Parent.IsDocumentType("USNAdvancedPage"))
    {
        if (currentNode.HasValue("width") && currentNode.GetProperty("width").Value.ToString() == "Centered")
        {
            @Html.Raw("<div id=\"mid-col\" class=\"col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12\"><div class=\"spc forms\">")
        }
        else
        {
            @Html.Raw("<div id=\"wide-col\" class=\"col-xs-12\"><div class=\"spc forms\">")
        }
    }


    if (currentNode.HasValue("contactFormHeading"))
    {
        var contactFormHeading = currentNode.GetPropertyValue<USNHeading>("contactFormHeading");

        if (contactFormHeading != null && !String.IsNullOrEmpty(contactFormHeading.Heading))
        {
            @Html.Raw("<" + contactFormHeading.HeadingStyle + " class=\"heading main\"><span class=\"line\">")
            @contactFormHeading.Heading
            @Html.Raw("</span></" + contactFormHeading.HeadingStyle + ">")
        }

    }

    <div id="contact-form" class="contact form ajax-wrap">
        <div class="inner @pageSettings.BackGroundStyle">


            @if (currentNode.HasValue("contactFormIntroduction"))
            {
                @Html.Raw(currentNode.GetProperty("contactFormIntroduction").Value)
            }
            <div id="@containerID">
                <div class="alert alert-danger alert-dismissible fade in" id="@errorID" style="display:none">
                </div>
                <fieldset>
                    <div class="form-group">
                        <h6>Personal Details</h6>
                    </div>
                    <!-- ROW -->
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = @umbraco.library.GetDictionaryItem("USN Form First Name Label") + "*" })
                            @Html.ValidationMessageFor(m => m.FirstName, umbraco.library.GetDictionaryItem("USN Form First Name Validation"))
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = @umbraco.library.GetDictionaryItem("USN Form Last Name Label") + "*" })
                            @Html.ValidationMessageFor(m => m.LastName, umbraco.library.GetDictionaryItem("USN Form Last Name Validation"))
                        </div>
                    </div>
                    <!--// ROW -->

                    <div class="form-group">
                        <h6>Contact Details</h6>
                    </div>
                    <!-- ROW -->
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Email, new { autocapitalize = "off", @class = "form-control", @placeholder = @umbraco.library.GetDictionaryItem("USN Form Email Address Label") + "*" })
                            @Html.ValidationMessageFor(m => m.Email, umbraco.library.GetDictionaryItem("USN Form Email Address Validation"))
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Telephone, new { autocapitalize = "off", @class = "form-control", @placeholder = @umbraco.library.GetDictionaryItem("USN Form Telephone Label") })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12">
                            @Html.TextBoxFor(m => m.JobTitle, new { autocapitalize = "off", @class = "form-control", @placeholder = @umbraco.library.GetDictionaryItem("USN Form Job Title Label") + "*" })
                            @Html.ValidationMessageFor(m => m.JobTitle, umbraco.library.GetDictionaryItem("USN Form Job Title Validation"))

                        </div>
                    </div>

                    <div class="form-group">
                        <h6>
                            How can RWA help you?
                        </h6>
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Message, new { rows = 5, @class = "form-control", @placeholder = @umbraco.library.GetDictionaryItem("USN Form Message Label") })
                    </div>

                    @*@if (currentNode.HasValue("privacyStatement"))
                    {
                        <div class="text">
                            @Html.Raw(currentNode.GetProperty("privacyStatement").Value)
                        </div>
                    }*@

                    <div class="form-group">
                        <div class="checkbox c5-text">
                            @umbraco.library.GetDictionaryItem("USN Form Newsletter Signup Label")
                            @Html.EditorFor(m => m.NewsletterSignup)
                            @*@Html.ValidationMessageFor(m => m.NewsletterSignup, umbraco.library.GetDictionaryItem("USN Form SignUp Validation"))*@
                        </div>
                    </div>

                    @*@if (currentNode.HasValue("methodOfContact"))
                        {
                            <div class="text">
                                @Html.Raw(currentNode.GetProperty("methodOfContact").Value)
                            </div>
                        }*@

                    @*<div class="form-group">
                            <div class="checkbox  c5-text">
                                @umbraco.library.GetDictionaryItem("USN Form Consent Post")
                                @Html.EditorFor(m => m.ConsentPost)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox  c5-text">
                                @umbraco.library.GetDictionaryItem("USN Form Consent Email")
                                @Html.EditorFor(m => m.ConsentEmail)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox  c5-text">
                                @umbraco.library.GetDictionaryItem("USN Form Consent Telephone")
                                @Html.EditorFor(m => m.ConsentPhone)
                            </div>
                        </div>*@
                </fieldset>


                <div class="row">
                    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12 no-float">
                        <fieldset class="buttons">


                            <button class="btn btn-borders c5-borders c5-text std-btn" style="width: 100%; text-align: center;" type="submit">
                                <span>@currentNode.GetProperty("contactFormButtonText").Value</span>
                            </button>
                        </fieldset>
                   
                        <div class="col-xs-12 text-center" style="height: 85px;">
                            @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)
                        </div>
                        @*Development*@
                        @*<div align="center" class="g-recaptcha" data-sitekey="6LdkwxoTAAAAALZGK-wYueAx64F5Zb5PpT0U0nO9"></div>
                        @Html.ValidationMessageFor(m => m.RecaptchaError)*@
                        @*Live*@
                        @*<div align="center" class="g-recaptcha" data-sitekey="6LcgcnYUAAAAABWmhirUsNCipMLlrMS81qZ-oIdj"></div>*@
                        @*@Html.ValidationMessageFor(m => m.RecaptchaError)*@
                        @*@Html.ValidationMessageFor(m => m.RecaptchaError, umbraco.library.GetDictionaryItem("USN Form Job Title Validation"))*@
                        </div>


                    @if (globalSettings.GetPropertyValue("privacyStatement") != null)
                    {
                        <div class="col-md-12 col-xs-12">
                            <div class="text @pageSettings.TextStyle">
                                @Html.Raw(globalSettings.GetPropertyValue("privacyStatement"))
                            </div>
                        </div>
                    }
                </div>


                <div class="ajax-loading" id="@ajaxLoadingID" style="display:none">
                    <div class="loading">
                        <span class="message">@umbraco.library.GetDictionaryItem("USN Contact Form Sending Message")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    if (currentNode.Parent.Parent.IsDocumentType("USNHomepage") || currentNode.Parent.Parent.IsDocumentType("USNAdvancedPage"))
    {
        @Html.Raw("</div></div>")

    }
}