﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<USNStarterKit.USNModels.USNNewsletterFormViewModel>
@using USN.Heading.Umbraco.Models;
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;
@using USN.UrlPicker.Umbraco.Models;
@using Recaptcha.Web.Mvc;

@using (Ajax.BeginForm("HandleNewsletterSubmit", "USNNewsletterSignupSurface", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "NewsletterSignupContainer" + @Model.CurrentNodeID,
    LoadingElementId = "NewsletterAjaxLoading" + @Model.CurrentNodeID
}))
{
    var currentNode = Umbraco.TypedContent(Model.CurrentNodeID);
    var currentPage = Umbraco.TypedContent(Model.ActualPageID);

    IPublishedContent homeNode = currentPage.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.Where(x => x.IsDocumentType("USNGlobalSettings")).First();
    var outroLink = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromUrlPicker(globalSettings.GetPropertyValue<UrlPicker>("outroDefaultLink"));

    USNTemplateStyleSettings pageSettings = USNViewTemplateHelper.GetTemplateStyleSettings(globalSettings.GetPropertyValue("outroDefaultBackgroundColor").ToString(), globalSettings.GetPropertyValue("outroDefaultButtonColor").ToString());

    var containerID = "NewsletterSignupContainer" + Model.CurrentNodeID;
    var errorID = "NewsletterError" + Model.CurrentNodeID;
    var ajaxLoadingID = "NewsletterAjaxLoading" + Model.CurrentNodeID;

    if (globalSettings.HasValue("emailMarketingPlatform") && globalSettings.HasValue("newsletterAPIKey") && (currentNode.HasValue("newsletterSubscriberListID") || globalSettings.HasValue("defaultNewsletterSubscriberListID")))
    {

        @Html.Hidden("CurrentNodeID", Model.CurrentNodeID)
        @Html.Hidden("ActualPageID", Model.ActualPageID)
        @Html.AntiForgeryToken()

        if (currentNode.DocumentTypeAlias == "USNHomepage")
        {
            if (currentNode.HasValue("width") && currentNode.GetProperty("width").Value.ToString() == "Centered")
            {
                @Html.Raw("<div id=\"mid-col\" class=\"col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12\"><div class=\"spc forms\">")
            }
            else
            {
                @Html.Raw("<div id=\"wide-col\" class=\"col-xs-12\"><div class=\"spc forms\">")
            }
        }
        @*else
            {

                if (( currentNode.Parent.Parent.IsDocumentType("USNHomepage") || currentNode.Parent.Parent.IsDocumentType("USNAdvancedPage")) && currentNode.IsDocumentType("USN_NewsletterSignup_AN"))
                {
                    if (currentNode.HasValue("width") && currentNode.GetProperty("width").Value.ToString() == "Centered")
                    {
                        @Html.Raw("<div id=\"mid-col\" class=\"col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12\"><div class=\"spc forms\">")
                    }
                    else
                    {
                        @Html.Raw("<div id=\"wide-col\" class=\"col-xs-12\"><div class=\"spc forms\">")
                    }
                }
            }*@




        @*else if ((currentNode.Parent.Parent.IsDocumentType("USNHomepage") || currentNode.Parent.Parent.IsDocumentType("USNAdvancedPage")) && currentNode.IsDocumentType("USN_NewsletterSignup_AN"))
            {
                if (currentNode.HasValue("width") && currentNode.GetProperty("width").Value.ToString() == "Centered")
                {
                    @Html.Raw("<div id=\"mid-col\" class=\"col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12\"><div class=\"spc forms\">")
                }
                else
                {
                    @Html.Raw("<div id=\"wide-col\" class=\"col-xs-12\"><div class=\"spc forms\">")
                }
            }*@

        <div id="newsletter-form" class="newsletter form ajax-wrap">

            @if (currentNode.HasValue("newsletterHeading"))
            {
                var newsletterHeading = currentNode.GetPropertyValue<USNHeading>("newsletterHeading");

                if (newsletterHeading != null && !String.IsNullOrEmpty(newsletterHeading.Heading))
                {
                    @Html.Raw("<" + newsletterHeading.HeadingStyle + " class=\"heading main\"><span class=\"line\">")
                    @newsletterHeading.Heading
                    @Html.Raw("</span></" + newsletterHeading.HeadingStyle + ">")
                }
                else if (currentNode.GetProperty("newsletterHeading").Value != String.Empty)
                {
                    <p class="heading main"><span class="line">@currentNode.GetProperty("newsletterHeading").Value</span></p>
                }
            }

            @if (currentNode.HasValue("newsletterIntroduction"))
            {
                @Html.Raw(currentNode.GetProperty("newsletterIntroduction").Value)
            }
            <div id="@containerID">
                <div class="alert alert-danger alert-dismissible fade in" id="@errorID" style="display:none">
                </div>
                <fieldset>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = @umbraco.library.GetDictionaryItem("USN Form First Name Label") + "*" })
                            @Html.ValidationMessageFor(m => m.FirstName, @umbraco.library.GetDictionaryItem("USN Form First Name Validation"))
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = @umbraco.library.GetDictionaryItem("USN Form Last Name Label") + "*" })
                            @Html.ValidationMessageFor(m => m.LastName, @umbraco.library.GetDictionaryItem("USN Form Last Name Validation"))
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { autocapitalize = "off", @class = "form-control", @placeholder = @umbraco.library.GetDictionaryItem("USN Form Email Address Label") + "*" })
                            @Html.ValidationMessageFor(m => m.Email, @umbraco.library.GetDictionaryItem("USN Form Email Address Validation"))
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="checkbox c5-text">
                                @umbraco.library.GetDictionaryItem("USN Form Newsletter Signup Label")
                                @Html.EditorFor(m => m.NewsletterSignup) <em class="req">*</em>
                                @Html.ValidationMessageFor(m => m.NewsletterSignup, umbraco.library.GetDictionaryItem("USN Form SignUp Validation"))
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                    <fieldset class="buttons text-center">

                        <button class="btn @pageSettings.ButtonStyle @pageSettings.TextStyle xl-btn" type="submit">
                            @if (currentNode.HasValue("newsletterButtonText"))
                            {
                                <span>@currentNode.GetProperty("newsletterButtonText").Value</span>
                            }
                            else
                            {
                                <span>@outroLink.LinkCaption</span>
                            }
                        </button>
                    </fieldset>
                    <div class="col-xs-12 text-center" style="height: 85px;">
                        @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)
                    </div>
                
                    @*Development*@
                    @*<div align="center" class="g-recaptcha" data-sitekey="6LdkwxoTAAAAALZGK-wYueAx64F5Zb5PpT0U0nO9"></div>
                    @Html.ValidationMessageFor(m => m.RecaptchaError)*@
                    @*Live*@
                    @*<div align="center" class="g-recaptcha" data-sitekey="6LcgcnYUAAAAABWmhirUsNCipMLlrMS81qZ-oIdj"></div>
                    @Html.ValidationMessageFor(m => m.RecaptchaError)*@

                </div>


                @if (globalSettings.GetPropertyValue("privacyStatement") != null)
                {
                    <div class="col-md-12 col-xs-12">
                        <div class="text @pageSettings.TextStyle">
                            @Html.Raw(globalSettings.GetPropertyValue("privacyStatement"))
                        </div>
                    </div>
                }


                <div class="ajax-loading" id="@ajaxLoadingID" style="display:none">
                    <div class="loading">
                        <span class="message">@umbraco.library.GetDictionaryItem("USN Newsletter Form Sending Message")</span>
                    </div>
                </div>
            </div>

        </div>

        @*if ((currentNode.Parent.Parent.IsDocumentType("USNHomepage") || currentNode.Parent.Parent.IsDocumentType("USNAdvancedPage")) && currentNode.IsDocumentType("USN_NewsletterSignup_AN"))
            {
                @Html.Raw("</div></div>")

            }*@
    }
}