﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json.Linq;
@using USNStarterKit.USNBlog;
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNEntities;

@{
    IPublishedContent homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var navigation = settingsFolder.Children.Where(x => x.IsDocumentType("USNNavigation")).First();
    var mainNavigation = navigation.GetPropertyValue<JArray>("mainNavigation");

    var itemCount = 0;

    @functions{
        private int blogItemCount;
    }

    <nav class="col-md-8 col-md-offset-4 col-sm-12 main nav-block">
        <ul>
            @if (navigation.HasValue("blogCategoryNavigation"))
            {
                @BlogNavigation(navigation)
            }

            @if (mainNavigation != null && navigation.GetPropertyValue<string>("mainNavigation", true, "").Length > 2 && blogItemCount < 5)
            {

                foreach (JObject link in mainNavigation)
                {
                    if (blogItemCount > 5)
                    {
                        itemCount++;
                        blogItemCount++;

                        string linkTitle = String.Empty;
                        string linkURL = String.Empty;
                        string linkTarget = String.Empty;
                        string linkIcon = String.Empty;
                        IPublishedContent node = null;

                        linkURL = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                        //Display nav link for Umbraco Content Page
                        if (node != null && node.IsVisible())
                        {
                            var selected = Array.IndexOf(Model.Content.Path.Split(','), node.Id.ToString()) >= 0 ? " class=\"active\"" : "";

                            if (node.IsDocumentType("USNHomepage") && !Model.Content.IsDocumentType("USNHomepage") || (Model.Content.IsDocumentType("USNBlogLandingPage") && !String.IsNullOrEmpty(Request.QueryString["category"])))
                            {
                                selected = "";
                            }

                            var subPages = node.Children.Where(x => (x.IsDocumentType("USNStandardPage") || x.IsDocumentType("USNAdvancedPage") || x.IsDocumentType("USNBlogLandingPage") || x.IsDocumentType("USNLoginPage") || x.IsDocumentType("USNSearchResultsPage")) && x.IsVisible());

                            string subPageClass = "";

                            if (subPages.Count() > 0 && !node.IsDocumentType("USNHomepage") && navigation.GetPropertyValue<bool>("displaySubPages"))
                            {
                                subPageClass = "has-child";
                            }

                            <li class="nav-panel nav-panel-@itemCount text-center @subPageClass">
                                <span>
                                    <a href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>
                                        @(link.Value<string>("caption"))
                                    </a>
                                </span>

                                @if (subPages.Count() > 0 && navigation.GetPropertyValue<bool>("displaySubPages") && !node.IsDocumentType("USNHomepage"))
                            {
                                    @SubPages(subPages)
                                }
                            </li>

                        }
                        //Display nav link for external link
                        else if (node == null && linkURL != String.Empty)
                        {
                            <li class="nav-panel nav-panel-@itemCount text-center">
                                <span>
                                    <a href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>
                                        @(link.Value<string>("caption"))
                                    </a>
                                </span>
                            </li>
                        }
                    }
                }
            }

        </ul>
    </nav>
}

@helper SubPages(IEnumerable<IPublishedContent> pages)
{
    <ul>
        @foreach (var node in pages)
        {
            string selected = Array.IndexOf(Model.Content.Path.Split(','), node.Id.ToString()) >= 0 ? " class=\"active\"" : "";

            var subPages = node.Children.Where(x => (x.IsDocumentType("USNStandardPage") || x.IsDocumentType("USNAdvancedPage") || x.IsDocumentType("USNBlogLandingPage") || x.IsDocumentType("USNLoginPage") || x.IsDocumentType("USNSearchResultsPage")) && x.IsVisible());

            string subPageClass = "";

            if (subPages.Count() > 0)
            {
                subPageClass = "has-child";
            }

            <li class="nav-panel text-center @subPageClass">
                <span>
                    <a @Html.Raw(selected) href="@node.Url()">
                        @if (node.HasValue("subNavigationLinkText"))
                        {
                            @node.GetProperty("subNavigationLinkText").Value;
                        }
                        else
                        {
                            @node.Name
                        }
                    </a>
                </span>

                @if (subPages.Count() > 0)
                {
                    @SubPages(subPages)
                }
            </li>
        }
    </ul>
}

@helper BlogNavigation(IPublishedContent navigation)
{

var categoryCount = 0;



if (navigation.HasValue("blogCategoryNavigation"))
{
    var bannerLinksValue = navigation.GetPropertyValue<string>
        ("blogCategoryNavigation");
    var categoryList = bannerLinksValue.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var categoryCollection = Umbraco.TypedContent(categoryList).Where(x => x != null);

    USNTemplateStyleSettings categorySettings;

    string linkTitle = String.Empty;
    string linkURL = String.Empty;
    string linkTarget = String.Empty;
    string linkIcon = String.Empty;
    IPublishedContent node = null;


    foreach (var category in categoryCollection)
    {
        categoryCount++;


        var domain = Request.Url.GetLeftPart(UriPartial.Authority);
        string categoryUrl = domain + "/blog/?category=" + category.Id.ToString();

        if (category.HasValue("panelColor"))
        {
            categorySettings = USNViewTemplateHelper.GetTemplateStyleSettings(category.GetPropertyValue("panelColor").ToString(), category.GetPropertyValue("panelColor").ToString(), category.GetPropertyValue("panelColor").ToString());
        }

        //If category doesn't have an assigned colour, we try and use the parent or descendant's value (if a colour is selected). If neither parent or child has a value, the default is used.
        else if (category.Parent.DocumentTypeAlias == "USNBlogCategory" && category.Parent.HasValue("panelColor"))
        {
            categorySettings = USNViewTemplateHelper.GetTemplateStyleSettings(category.Parent.GetPropertyValue("panelColor").ToString(), category.Parent.GetPropertyValue("panelColor").ToString(), category.Parent.GetPropertyValue("panelColor").ToString());
        }
        else if (category.Children().Any() && category.Descendant().HasValue("panelColor"))
        {
            categorySettings = USNViewTemplateHelper.GetTemplateStyleSettings(category.Descendant().GetPropertyValue("panelColor").ToString(), category.Descendant().GetPropertyValue("panelColor").ToString(), category.Descendant().GetPropertyValue("panelColor").ToString());
        }
        else
        {
            categorySettings = USNViewTemplateHelper.GetTemplateStyleSettings(category.GetPropertyValue("panelColor").ToString(), category.GetPropertyValue("panelColor").ToString(), category.GetPropertyValue("panelColor").ToString());
        }
        var urlOverride = category.GetPropertyValue<JArray>("navigationUrlOverride");

        if (urlOverride != null && category.GetPropertyValue<string>("navigationUrlOverride", true, "").Length > 2)
        {
            foreach (JObject link in urlOverride)
            {
                linkURL = USNStarterKit.USNBusinessLogic.USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                //Display nav link for Umbraco Content Page
                if (node != null && node.IsVisible())
                {
                    var selected = Array.IndexOf(Model.Content.Path.Split(','), node.Id.ToString()) >= 0 ? " class=\"active\"" : "";

                    if (node.IsDocumentType("USNHomepage") && !Model.Content.IsDocumentType("USNHomepage") || (Model.Content.IsDocumentType("USNBlogLandingPage") && !String.IsNullOrEmpty(Request.QueryString["category"])))
                    {
                        selected = "";
                    }

                    var subPages = node.Children.Where(x => (x.IsDocumentType("USNStandardPage") || x.IsDocumentType("USNAdvancedPage") || x.IsDocumentType("USNBlogLandingPage") || x.IsDocumentType("USNLoginPage") || x.IsDocumentType("USNSearchResultsPage")) && x.IsVisible());

                    string subPageClass = "";

                    if (subPages.Count() > 0 && !node.IsDocumentType("USNHomepage") && navigation.GetPropertyValue<bool>("displaySubPages"))
                    {
                        subPageClass = " class=\"has-child\"";
                    }

                    <li class="nav-panel @categorySettings.PanelColor text-center">
                        <span>
                            <a href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>
                                @(link.Value<string>("caption"))
                            </a>
                        </span>
                    </li>

                    }
                    //External Links
                    else if (node == null && linkURL != String.Empty)
                    {
                        <li class="nav-panel @categorySettings.PanelColor text-center">
                            <span>
                                <a href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>
                                    @(link.Value<string>("caption"))
                                </a>
                            </span>
                        </li>
                    }
                    //Standard Blog Links
                    else
                    {
                        <li class="nav-panel @categorySettings.PanelColor text-center">
                            <span>
                                <a href="@Html.Raw(categoryUrl)">
                                    @category.Name
                                </a>

                            </span>
                        </li>
                }

            }


        }



    }
}

blogItemCount = categoryCount;


}

@helper traverseBlogCategories(IPublishedContent parent, IPublishedContent navigation)
{
var itemCount = 0;

if (parent.Children.Count() > 0)
{
    IPublishedContent landing = USNDataService.Instance.GetLanding(parent);

    if (!parent.IsDocumentType("USNBlogCategories"))
    {
            @Html.Raw("<ul>")
    }

    foreach (var node in parent.Children)
    {
        if (node != null)
        {
            itemCount++;

            string categoryURL = landing.Url + "?category=" + node.Id;

            string itemClass = "";
            string itemActive = "";
            string itemIcon = "";

            if (node.Descendants().Count() > 0 && node.Parent.IsDocumentType("USNBlogCategories"))
            {
                itemClass = "has-child ";
                itemIcon = "<i class=\"ion-chevron-down\"></i>";
            }
            else if (node.Descendants().Count() > 0 && !node.Parent.IsDocumentType("USNBlogCategories"))
            {
                itemClass = "has-child ";
                itemIcon = " <i class=\"ion-chevron-down hidden-lg hidden-md hidden-sm\"></i><i class=\"ion-chevron-right hidden-xs\"></i>";

            }

            if (!String.IsNullOrEmpty(Request.QueryString["category"]))
            {
                string catID = Request.QueryString["category"];

                var AllChildren = node.Descendants();

                foreach (var childNode in AllChildren)
                {
                    if (catID == childNode.Id.ToString())
                    {
                        itemActive = "active";
                    }
                }

                if (catID == node.Id.ToString())
                {
                    itemActive = "active";
                }
            }

            <li class="nav-panel nav-panel-@itemCount text-center">
                <span>
                    <a href="@categoryURL" rel="NOINDEX, FOLLOW">
                        @node.Name
                    </a>
                    @Html.Raw(itemIcon)
                    @if (itemClass.IndexOf("has-child") > -1 || navigation.GetPropertyValue<bool>("displaySubPages") == true)
                    {
                        @traverseBlogCategories(node, navigation);
                    }

                </span>

            </li>


        }
    }

    if (!parent.IsDocumentType("USNBlogCategories"))
    {
            @Html.Raw("</ul>")
    }
}
}
