﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{	
    if (Model.Content.HasProperty("displaySubpageListing") && Model.Content.GetPropertyValue<bool>("displaySubpageListing"))
    {
        int summaryTextLength = 0;

        if (Model.Content.HasValue("pageSummaryTextCharacterCount"))
        {
            summaryTextLength = Convert.ToInt32(Model.Content.GetProperty("pageSummaryTextCharacterCount").Value);
        }

        string layoutClass = "section";

        if (Model.Content.Children.Where(x => x.IsDocumentType("USNStandardPage") || x.IsDocumentType("USNAdvancedPage")).Count() > 0)
        {
            if (Model.Content.HasValue("subpageListingLayout") && Model.Content.GetProperty("subpageListingLayout").Value.ToString() == "Grid")
            {
                layoutClass = "grid row";
            }
            
        	<!-- LISTING  -->   
			<div class="listing @layoutClass">
                @foreach (var item in Model.Content.Children.Where(x => x.IsDocumentType("USNStandardPage") || x.IsDocumentType("USNAdvancedPage")).OrderBy("SortOrder"))
                {
                    Boolean displaySummaryText = false;
                    string introText = "";

                    if (item.HasValue("pageSummary"))
                    {
                        introText = item.GetProperty("pageSummary").Value.ToString();
                        displaySummaryText = true;
                    }
                    else
                    {
                        if (summaryTextLength > 0 && item.HasProperty("bodyText"))
                        {
                            introText = item.GetProperty("bodyText").Value.ToString().StripHtml().Trim();

                            displaySummaryText = true;

                            if (introText.Length >= summaryTextLength)
                            {
                                introText = introText.Substring(0, summaryTextLength);
                            }

                            if (introText.Length > 0)
                            {
                                introText = "<p>" + introText + " ...</p>";
                            }
                        }
                    }

                    string pageName = "";

                    if (item.HasValue("subpageListingLinkText"))
                    {
                        pageName = item.GetProperty("subpageListingLinkText").Value.ToString();
                    }
                    else
                    {
                        pageName = @item.Name;
                    }

                    if (layoutClass == "section")
                    {
                        string textClass = "";

                        <div class="item row inner c5-bg">

                            @if (item.HasValue("pageListingImage") && Umbraco.TypedMedia(item.GetProperty("pageListingImage").Value) != null)
                            {
                                textClass = "col-sm-8 pull-left";

                                <div class="col-sm-4 pull-right col-xs-12 text-right">
                                    <a href="@item.Url">
                                        <div class="image">
                                            <img src="@Umbraco.TypedMedia(item.GetProperty("pageListingImage").Value).GetCropUrl(width: 400, height: 300)" alt="@item.GetProperty("pageListingImageAltText").Value">
                                        </div>
                                    </a>
                                </div>
                            }
                                <div class="info @textClass col-xs-12">
                                    <a href="@item.Url"><p class="heading">@Html.Raw(pageName)</p></a>
                                    @if (displaySummaryText && introText != String.Empty)
                                    {
                                        <div class="text">@Html.Raw(introText)</div>
                                    }
                                </div>

                        </div>
                    }
                    else
                    {
                        <div class="item col-md-4 col-sm-6 col-xs-12">
                            <div class="inner c5-bg">
                                <a href="@item.Url">
                                    @if (item.HasValue("pageListingImage") && Umbraco.TypedMedia(item.GetProperty("pageListingImage").Value) != null)
                                    {
                                        <div class="image">
                                            <img src="@Umbraco.TypedMedia(item.GetProperty("pageListingImage").Value).GetCropUrl(width: 400, height: 300)" alt="@item.GetProperty("pageListingImageAltText").Value">
                                        </div>
                                    }
                                    <p class="heading">@Html.Raw(pageName)</p>
                                </a>
                                @if (displaySummaryText && introText != String.Empty)
                                {
                                    <div class="text">@Html.Raw(introText)</div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        }
    }
}


  
